{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}{{ "default.new.title"|trans }}{% endblock %}

{% block content %}
{{ form_start(edit_form, {action: path('breedgroup_update', { 'game': entity.game.code 'id': entity.id }), attr: {class: 'opaque'}}) }}
    {{ form_widget(edit_form) }}
    <p class="txtRight">
        <button class="acButton acButtonBig" type="submit">{{ "button.edit"|trans }}</button>
    </p>
</form>

<div class="txtright">
    <a class="acButton" href="{{ path('breedgroup', {'game': entity.game.code }) }}">
        {{ "default.back_to_list"|trans }}
    </a>
    {{ form_start(delete_form, {action: path('breedgroup_delete', { 'game': entity.game.code, 'id': entity.id })}) }}
        {{ form_widget(delete_form) }}
        <button class="acButton" type="submit">{{ "button.delete"|trans }}</button>
    </form>
</div>
