{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block h1 %}{{ "breed_group.list.title"|trans }}{% endblock %}

{% block content %}
<nav class="subMenu">
    {{ knp_menu_render("game", {"game": game}) }}
</nav>

<table class="squadType">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>
                {{ entity.id }}
            </td>
            <td>
                <a href="{{ path('breedgroup_edit', { 'game': game.code, 'id': entity.id }) }}">
                    {{ entity.name }}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="txtright">
    <a class="acButton acButtonBig" href="{{ path('breedgroup_new', {'game': game.code }) }}">
        {{ "breed_group.list.new"|trans }}
    </a>
</div>
{% endblock %}
