{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}BreedGroup creation{% endblock %}

{% block content %}
<form action="{{ path('breedgroup_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">{{ "button.create"|trans }}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('breedgroup') }}">
            {{ "default.back_to_list"|trans }}
        </a>
    </li>
</ul>
{% endblock %}
