{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}BreedGroup creation{% endblock %}

{% block content %}
{{ form_start(form, {action: path('breedgroup_create', {'game': game.code})}) }}
    {{ form_widget(form) }}
    <p>
        <button type="submit">{{ "button.create"|trans }}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('breedgroup', {'game': game.code}) }}">
            {{ "default.back_to_list"|trans }}
        </a>
    </li>
</ul>
{% endblock %}
