{% extends 'SitiowebArmyCreatorBundle:Army:detail.html.twig' %}

{% block title %}
    {{ "army.bbcode.title"|trans }} -
    {{ parent() }}
{% endblock %}

{% block armyDetail %}
<form
    action="{{ path('army_detail_bbcode', { 'slug': army.slug }) }}"
    method="post"
    {{ form_enctype(form) }}
    id="armyDetailPreferenceForm"
    class="right"
>
    <h4>{{ "army.detail.preferences"|trans }}</h4>
    {% for key, child in form.children %}
        {% if key|slice(0,1) != "_" %}
            <div class="line">
                <aside class="right ml1">
                    {{ form_widget(child) }}
                </aside>
                <div>
                    {{ form_errors(child) }}
                    {{ form_label(child) }}
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {{ form_widget(form) }}
    <p class="txtright">
        <button type="submit" class="acButton">{{ 'army.bbcode.apply'|trans }}</button>
        <button type="submit" class="acButton" name="saveAsDefault" value="1">{{ 'army.bbcode.apply_and_save'|trans }}</button>
    </p>
</form>

<textarea id="army_bbcode_textarea" cols="150" rows="30">{{- "" -}}
    {# === army name === #}
    {{- "[b][u]" ~ army.name ~ " (" ~ army.breed.name ~ ") : " ~ army.points ~ " " ~ "army.bb_code.points"|trans ~ "[/u][/b]" -}}

    {# === squad type list === #}{{- "" -}}
    {% for tmp in army.squadListByType %}{{- "" -}}
        {% if tmp.squadList %}
            {{- "\n\n" -}}
            {# === squad type name === #}
            {{- "[b][color=" ~ preferences.colorSquadType ~ "]" -}}
                {{- tmp.unitType.name -}}
                {% if tmp.unitType.breed != army.breed %}
                    {{- " (" ~ tmp.unitType.breed.name ~ ")" -}}
                {% endif %}
            {{- "[/color][/b]" -}}

            {# === squad list === #}
            {{- "\n[list]" -}}
            {% for squad in tmp.squadList %}{{- "" -}}
                {# === squad name === #}
                {{- "\n\t[*][color=" ~ preferences.colorSquad ~ "]" ~
                        squad.name|default(squad.unitType.name ~ ' #' ~ loop.index) ~
                        "[/color]" -}}
                {% if preferences.showUnitPoints %}
                    {{-" (" ~ squad.points ~ "pts)" -}}
                {% endif %}{{- "" -}}

                {# === squad line list === #}
                {{- "\n\t[list]" -}}
                {% for squadLine in squad.squadLineList %}{{- "" -}}
                    {# === unit name/number === #}
                    {{- "\n\t\t[*][color=" ~ preferences.colorSquadDetail ~ "]" ~ squadLine.number ~ " " ~ squadLine.unit.name ~ "[/color]" -}}

                    {# === unit stuff list === #}{{- "" -}}
                    {% if preferences.showDefaultStuff %}{{- "" -}}
                        {% set squadLineStuffList = squadLine.squadLineStuffList %}{{- "" -}}
                    {% else %}{{- "" -}}
                        {% set squadLineStuffList = squadLine.noDefaultSquadLineStuffList %}{{- "" -}}
                    {% endif %}{{- "" -}}

                    {% if not(squadLineStuffList is empty) %}
                        {{- "\n\t\t[list]" -}}
                            {{- "\n\t\t\t[*] " -}}
                            {% for squadLineStuff in squadLineStuffList %}{{- "" -}}
                                {% if not loop.first %}
                                    {{- preferences.separator -}}
                                {% endif %}
                                {{- squadLineStuff.number ~ " " ~ squadLineStuff.unitStuff.stuff.name -}}
                            {% endfor %}
                        {{- "\n\t\t[/list]" -}}
                    {% endif %}
                {% endfor %}
                {{- "\n\t[/list]" -}}
            {% endfor %}
            {{- "\n[/list]" -}}
        {% endif %}{{- "" -}}
    {% endfor %}{{- "" -}}
    {{- "\n\n[i]BBCode Généré par [url=http://www.w40karmycreator.com]Army Creator[/url][/i]" -}}
</textarea>

<p class="txtright">
    <a class="acButton acButtonBig" href="{{ path('army_detail', {'slug' : army.slug}) }}">
        {{ "army.bbcode.back_to_army"|trans }}
    </a>

    <a id="selectBbcode" class="acButton acButtonHuge" href="javascript:;">
        {{ "army.bbcode.select_all"|trans }}
    </a>
</p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
     <script src="/bundles/sitiowebexternaljs/jscolor/jscolor.js"></script>
{% endblock %}
