<div class="squad" data-draggable="true" data-squadId="{{ squad.id }}">
    <div class="squadName">
        <h4>
            <div class="unitTypeStick" style="background-color:{{ tmp.unitType.color|default("#ccc") }}"></div>
            {{ squad.name|default(squad.unitType.name ~ ' #' ~ loop.index) }}
            <span>
                {% trans with { "%pts%": squad.points } %}army.detail.pts.%pts%{% endtrans %}
            </span>
        </h4>
    </div>

    <div>
        {# Display squad line list #}
        {% for squadLine in squad.squadLineList %}
            <div class="squadLine">
                <h5>
                    {% set unitNumber = externalUser ? null : app.user.getUnitNumber(squadLine.unit) %}
                    {% if  not(unitNumber is null) and unitNumber < army.getUnitNumber(squadLine.unit) %}
                        <i class="el-icon-warning-sign soft" title="{{ "army.detail.missing_units"|trans }}"></i>
                    {% endif %}

                    {{ squadLine.number }} {{ squadLine.unit.name }}

                    {% if preferences.showUnitPoints %}
                        <span class="soft">
                            {% trans with { "%pts%": squadLine.unit.points * squadLine.number } %}army.detail.pts.%pts%{% endtrans %}
                        </span>
                    {% endif %}
                </h5>
                {% if not(squadLine.squadLineStuffList.empty) %}
                    {% if preferences.showDefaultStuff %}{{- "" -}}
                        {% set squadLineStuffList = squadLine.squadLineStuffList %}
                    {% else %}{{- "" -}}
                        {% set squadLineStuffList = squadLine.noDefaultSquadLineStuffList %}
                    {% endif %}{{- "" -}}

                    {% if squadLineStuffList %}
                        <ul class="stuffList stuffList-toggle{{ pdf is defined and pdf ? ' visible' : '' }}">
                            {% for squadLineStuff in squadLineStuffList %}
                                <li>
                                    {{ squadLineStuff.number }}
                                    {{ squadLineStuff.unitStuff.stuff.name }}

                                    {% if squadLineStuff.unitStuff.points > 0 and preferences.showStuffPoints %}
                                        <span class="soft">
                                            {% trans with { "%pts%": squadLineStuff.unitStuff.points * squadLineStuff.number } %}army.detail.pts.%pts%{% endtrans %}
                                        </span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>

                        {% if not(pdf is defined) or not(pdf) %}
                            <div class="txtcenter stuffList-toggle-container">
                                <a href="javascript:;" class="soft small stuffList-toggle-link">
                                    <i class="el-icon-caret-down"></i>
                                    <i class="el-icon-caret-up hidden"></i>
                                    {{ "army.detail.toggle_stuff"|trans }}
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    {% if not(externalUser) %}
        <aside class="actions">
            <a
                href="javascript:;"
                class="acButton moveButton"
                title="{{ "squad.edit.%squad_name%.move"|trans({ "%squad_name%": squad.name }) }}"
            >
                <i class="el-icon-move"></i>
            </a>

            <a
                href="{{ path('squad_link_unit', {'armySlug' : army.slug, 'id' : squad.id}) }}"
                class="acButton"
                title="{{ "squad.link.button"|trans }}"
            >
                <i class="el-icon-link"></i>
            </a>

            <div class="right">
                <a
                    href="{{ path('squad_edit', {'armySlug' : army.slug, 'id' : squad.id}) }}"
                    class="acButton"
                    title="{{ "squad.edit.%squad_name%.edit"|trans({ "%squad_name%": squad.name }) }}"
                >
                    <i class="el-icon-pencil"></i>
                </a>

                <form
                    action="{{ path('squad_delete', { 'armySlug': army.slug, 'id' : squad.id }) }}"
                    method="post"
                    class="inbl"
                    onsubmit="javascript:return confirm('{% trans %}army.detail.squad.delete{% endtrans %}');"
                >
                    {% set deleteSquadForm = deleteSquadListForm[squad.id] %}
                    {{ form_widget(deleteSquadForm.createView) }}
                    <button
                        class="acButton"
                        type="submit"
                        title="{{ "squad.edit.%squad_name%.delete"|trans({ "%squad_name%": squad.name }) }}"
                    >
                        <i class="el-icon-remove"></i>
                    </button>
                </form>
            </div>
        </aside>
    {% endif %}
</div>

