{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}My army detail{% endblock %}

{% block h1Container %}
{% endblock %}

{% block content %}
<header>
    <div>
        Breed logo
    </div>

    <div>
        {{ army.name }}
        {{ army.breed.name }}
        {{ army.wantedPoints }}


        {{ army.points }}
        {{ army.wantedPoints }}

        <a href="#">
            Print list
        </a>
        <a href="#">
            Share list
        </a>
        <a href="#">
            Delete list
        </a>
    </div>
</header>

<section>
    {% for unitType in unitTypeList %}
        <section>
            <h3>{{ unitType.name }}</h3>
            <ul>
                {% for squad in army.squadList %}
                    {% if squad.unitType == unitType %}
                        <li>
                            <div>
                                {{ squad.name|default('Squad ' ~ loop.index) }}
                            </div>
                            <div>
                                {{ squad.points }} pts
                            </div>

                            <div>
                                {% for squadLine in squad.squadLineList %}
                                    <div>
                                        {{ squadLine.number }} {{ squadLine.unit.name }}
                                    </div>
                                {% endfor %}
                            </div>

                            <footer>
                                <a href="#">
                                    Edit
                                </a>

                                <a href="#">
                                    Delete
                                </a>
                            </footer>
                        </li>
                    {% endif %}
                {% endfor %}

                <li>
                    <a href="#">
                        Ajouter
                    </a>
                </li>
            </ul>
        </section>
    {% endfor %}
</section>
{% endblock %}

