{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {{ army.name }} - 
    {{ army.user.username }} -
    {{ army.breed.name }} -
    {{ army.breed.game.name }}
{% endblock %}

{% block h1Container %}
{% endblock %}

{% block content %}
<header>
    <div>
        Breed logo
    </div>

    <div>
        {{ army.name }}
        {{ army.breed.name }}
        {{ army.wantedPoints }}


        {{ army.points }}
        {{ army.wantedPoints }}

        <a href="#">
            Print list
        </a>
        <a href="#">
            Share list
        </a>
        <a href="#">
            Delete list
        </a>
    </div>
</header>

<section id="armyDetail">
    {# ===== Unit Type length ===== #}
    <div>
        {% for tmp in army.squadListByType %}
            <div>
                <a href="#unitType{{ tmp.unitType.id }}">
                    {{ tmp.squadList|length }} {{ tmp.unitType.name }}
                </a>
            </div>
        {% endfor %}
    </div>

    {# ===== Squad List ===== #}
    {% for tmp in army.squadListByType %}
        <section class="squadList" id="unitType{{ tmp.unitType.id }}">
            <h3>
                <div class="stick" style="background-color:{{ tmp.unitType.color|default("#ccc") }}"></div>
                {{ tmp.unitType.name }}
                <span>{{ tmp.points }} pts</span>
            </h3>
            <ul>
                {% for squad in tmp.squadList %}
                        <li class="squad">
                            <h4>
                                {{ squad.name|default('Squad ' ~ loop.index) }}
                            </h4>
                            <div>
                                {{ squad.points }} pts
                            </div>

                            <div>
                                {% for squadLine in squad.squadLineList %}
                                    <div>
                                        <h5>{{ squadLine.number }} {{ squadLine.unit.name }}</h5>
                                        {% if not(squadLine.squadLineStuffList.empty) %}
                                            <ul>
                                                {% for squadLineStuffList in squadLine.squadLineStuffList %}
                                                    <li>
                                                        {{ squadLineStuffList.number }}
                                                        {{ squadLineStuffList.unitStuff.stuff.name }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>

                            <footer>
                                <a href="#">
                                    Edit
                                </a>

                                <a href="#">
                                    Delete
                                </a>
                            </footer>
                        </li>
                {% endfor %}

                <li>
                    <a href="#">
                        Ajouter
                    </a>
                </li>
            </ul>
        </section>
    {% endfor %}
</section>
{% endblock %}

