{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {{ army.name }} - 
    {{ army.user.username }} -
    {{ army.breed.name }} -
    {{ army.breed.game.name }}
{% endblock %}

{% block h1Container %}
{% endblock %}

{% block breadcrumb %}
    <section id="breadcrumb">
        <ul class="inline">
            <li class="first">
                <a href="{{ path('homepage') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path('army_list') }}">My army list</a>
            </li>
            <li class="last">
                <a href="{{ path('army_detail', { 'slug' : army.slug } ) }}">{{ army.name }}</a>
            </li>
        </ul>
    </section>
{% endblock %}

{% block content %}
<header>
    <figure class="breed">
        {{ breedImage(army.breed)|raw }}

        <figcaption>
            {{ army.breed.name }}
        </figcaption>
    </figure>

    <div class="armyDescription">
        <h1 class="name">
            {{ army.name }}
        </h1>
        <div class="description">
            <span>Description :</span>
            {{ army.description }}
        </div>
        {{ army.wantedPoints }}


        {{ army.points }}
        {{ army.wantedPoints }}

        <a href="#">
            Print list
        </a>
        <a href="#">
            Share list
        </a>
        <a href="#">
            Delete list
        </a>
    </div>
</header>

<section id="armyDetail">
    {# ===== Unit Type length ===== #}
    <div class="unitTypeList">
        {% for tmp in army.squadListByType %}
            <div>
                <a href="#unitType{{ tmp.unitType.id }}">
                    {{ tmp.squadList|length }} {{ tmp.unitType.name }}
                </a>
            </div>
        {% endfor %}
    </div>

    {# ===== Squad List ===== #}
    {% for tmp in army.squadListByType %}
        <section class="squadList" id="unitType{{ tmp.unitType.id }}">
            <h3 class="unitType">
                <div class="stick" style="background-color:{{ tmp.unitType.color|default("#ccc") }}"></div>
                {{ tmp.unitType.name }}
                <span>{{ tmp.points }} pts</span>
            </h3>
            <ul class="inline">
                {% for squad in tmp.squadList %}
                        <li class="squad">
                            <h4 class="squadName">
                                <div class="stick" style="background-color:{{ tmp.unitType.color|default("#ccc") }}"></div>
                                {{ squad.name|default('Squad ' ~ loop.index) }}
                                <span>
                                    {{ squad.points }} pts
                                </span>
                            </h4>

                            <div>
                                {% for squadLine in squad.squadLineList %}
                                    <div class="squadLine">
                                        <h5>{{ squadLine.number }} {{ squadLine.unit.name }}</h5>
                                        {% if not(squadLine.squadLineStuffList.empty) %}
                                            <ul>
                                                {% for squadLineStuffList in squadLine.squadLineStuffList %}
                                                    <li>
                                                        {{ squadLineStuffList.number }}
                                                        {{ squadLineStuffList.unitStuff.stuff.name }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>

                            <footer>
                                <a href="#">
                                    Edit
                                </a>

                                <a href="#">
                                    Delete
                                </a>
                            </footer>
                        </li>
                {% endfor %}

                <li>
                    <a href="#">
                        Ajouter
                    </a>
                </li>
            </ul>
        </section>
    {% endfor %}
</section>
{% endblock %}

