{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {{ army.name }} - 
    {{ army.user.username }} -
    {{ army.breed.name }} -
    {{ army.breed.game.name }}
{% endblock %}

{% block h1Container %}
{% endblock %}

{% block content %}
<header>
    <aside class="action">
        <a href="javascript:window.print();" class="acButton" accesskey="p" title="{{ 'army.detail.print'|trans }}">
            <i class="icon-print"></i>
            {{ 'army.detail.print'|trans }}
        </a>
        <a href="#" class="acButton">
            <i class="icon-share"></i>
            {{ 'army.detail.share'|trans }}
        </a>
    </aside>

    <figure class="breed">
        {{ breedImage(army.breed)|raw }}

        <figcaption>
            {{ army.breed.name }}
        </figcaption>
    </figure>

    <div class="armyDescription">
        <h1 class="name">
            {{ army.name }} | 
            {{ army.breed.name }}

            <a href="{{ path('army_edit', { 'slug' : army.slug }) }}" class="acButton acButtonSmall">
                <i class="icon-pencil"></i>
            </a>

            {% if deleteForm is defined %}
                <form
                    action="{{ path('army_delete', { 'slug': army.slug }) }}"
                    method="post"
                    class="inbl"
                    onsubmit="javascript:return confirm('{% trans %}army.detail.delete{% endtrans %}');"
                >
                    {{ form_widget(deleteForm) }}
                    <button type="submit" class="acButton acButtonSmall">
                        <i class="icon-remove"></i>
                    </button>
                </form>
            {% endif %}
        </h1>

        {% if army.wantedPoints > 0 %}
            <div class="pointBarContainer">
                <div class="pointBar">
                    <div style="width:{{ 100 * army.points /  army.wantedPoints }}%"></div>
                </div>
                <strong>{{ army.points}} pts</strong> / {{ army.wantedPoints }} pts
            </div>
        {% endif %}

        {% if army.description %}
            <div class="description">
                <span>Description :</span>
                {{ army.description }}
            </div>
        {% endif %}
    </div>
</header>

<section id="armyDetail">
    {% block armyDetail %}
        {# ===== Unit Type length ===== #}
        <div class="unitTypeTopList">
            {% for tmp in army.squadListByType %}
                <div>
                    <a href="#unitType{{ tmp.unitType.id }}">
                        {{ tmp.squadList|length }} {{ tmp.unitType.name }}
                    </a>
                </div>
            {% endfor %}
        </div>

        {# ===== Squad List ===== #}
        {% for tmp in army.squadListByType %}
            <section class="unitTypeList row gut" id="unitType{{ tmp.unitType.id }}">
                <h3 class="unitType col">
                    <div class="stick" style="background-color:{{ tmp.unitType.color|default("#ccc") }}"></div>
                    {{ tmp.unitType.name }}
                    <div>{{ tmp.points }} pts</div>
                </h3>
                <div class="col squadListContainer">
                    <section class="squadList">
                        {% for squad in tmp.squadList %}
                                <div class="squad">
                                    <div class="squadName">
                                        <h4>
                                            <div class="stick" style="background-color:{{ tmp.unitType.color|default("#ccc") }}"></div>
                                            {{ squad.name|default('Squad ' ~ loop.index) }}
                                            <span>
                                                {{ squad.points }} pts
                                            </span>
                                        </h4>

                                        <aside class="actions">
                                            <a href="{{ path('squad_edit', {'armySlug' : army.slug, 'id' : squad.id}) }}" class="acButton">
                                                <i class="icon-pencil"></i>
                                            </a>

                                            <form
                                                action="{{ path('squad_delete', { 'armySlug': army.slug, 'id' : squad.id }) }}"
                                                method="post"
                                                class="inbl"
                                                onsubmit="javascript:return confirm('{% trans %}army.detail.squad.delete{% endtrans %}');"
                                            >
                                                {% set deleteSquadForm = deleteSquadListForm[squad.id] %}
                                                {{ form_widget(deleteSquadForm.createView) }}
                                                <button class="acButton" type="submit">
                                                    <i class="icon-remove"></i>
                                                </button>
                                            </form>
                                        </aside>
                                    </div>

                                    <div>
                                        {% for squadLine in squad.squadLineList %}
                                            <div class="squadLine">
                                                <h5>{{ squadLine.number }} {{ squadLine.unit.name }}</h5>
                                                {% if not(squadLine.squadLineStuffList.empty) %}
                                                    <ul>
                                                        {% for squadLineStuffList in squadLine.squadLineStuffList %}
                                                            <li>
                                                                {{ squadLineStuffList.number }}
                                                                {{ squadLineStuffList.unitStuff.stuff.name }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                        {% endfor %}

                        <div>
                            <a href="{{ path('squad_new', {'armySlug' : army.slug, 'unitTypeSlug' : tmp.unitType.slug}) }}" class="acButton">
                                <i class="icon-plus"></i>
                                {{ 'army.detail.squad.add'|trans }}
                            </a>
                        </div>
                    </section>
                </div>
            </section>
        {% endfor %}
    {% endblock %}
</section>
{% endblock %}

