{% extends 'SitiowebArmyCreatorBundle:Army:layout.html.twig' %}

{% import "SitiowebArmyCreatorBundle:UnitType:macro.html.twig" as unitTypeMacro %}

{% block armyDetail %}
    <div id="armyDetail">
        {# ===== Unit Type length ===== #}
        <div class="unitTypeTopList">
            {% for tmp in army.squadListByType %}
                {% if tmp.squadList or not(pdf is defined) %}
                    <div>
                        <a href="#ut-{{ tmp.unitType.slug }}{% if tmp.unitType.breed != army.breed %}-{{ tmp.unitType.breed.slug }}{% endif %}">
                            {{ tmp.squadList|length }} {{ tmp.unitType.name }}
                            {% if tmp.unitType.breed != army.breed %}
                                ({{ tmp.unitType.breed.name }})
                            {% endif %}
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {% if form is defined %}
            <form
                id="armyDetailPreferenceForm"
                action="{{ path('army_detail', { 'slug': army.slug }) }}"
                method="post"
                {{ form_enctype(form) }}
            >
                <h4>{{ "army.detail.preferences"|trans }}</h4>
                {% for key, child in form.children %}
                    {% if key|slice(0,1) != "_" %}
                        <div class="line">
                            <aside class="right ml1">
                                {{ form_widget(child) }}
                            </aside>
                            <div class="right">
                                {{ form_errors(child) }}
                                {{ form_label(child) }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                {{ form_widget(form) }}
                <p class="txtright">
                    <button type="submit" class="acButton">{{ 'army.bbcode.apply'|trans }}</button>
                    {% if not(externalUser) %}
                        <button type="submit" class="acButton" name="saveAsDefault" value="1">{{ 'army.bbcode.apply_and_save'|trans }}</button>
                    {% endif %}
                </p>
            </form>
        {% endif %}


        {% block ad300 %}
            <div class="right ad hide-mobile">
                {{ render(controller("SitiowebArmyCreatorBundle:Ads:render")) }}
            </div>

            <div class="ad only-mobile">
                {{ render(controller("SitiowebArmyCreatorBundle:Ads:render", {"type": "mobile"})) }}
            </div>
        {% endblock %}

        <div class="mb2">
            <a href="javascript:;" class="acButton stuffList-show-all" title="{{ "army.detail.show_all_stuff"|trans }}">
                <i class="el-icon-caret-down"></i>
                {{ "army.detail.show_all_stuff"|trans }}
            </a>
            <a href="javascript:;" class="acButton stuffList-hide-all" title="{{ "army.detail.hide_all_stuff"|trans }}">
                <i class="el-icon-caret-up"></i>
                {{ "army.detail.hide_all_stuff"|trans }}
            </a>
        </div>

        <div class="oauto">
            {# ===== Squad List ===== #}
            {% block allyFortressButton %}
                {% if not(externalUser) %}
                    <div class="mb2">
                        <a
                            href="{{ path('squad_select_breed', { 'armySlug' : army.slug }) }}"
                            class="acButton acButtonBig"
                        >
                            <i class="el-icon-plus"></i>
                            {{ 'army.detail.squad.add_ally_fortress'|trans }}
                        </a>
                    </div>
                {% endif %}
            {% endblock %}

            {% for tmp in army.squadListByType %}
                {% if tmp.squadList or not(pdf is defined) %}
                    <section
                        class="unitTypeList row {% if tmp.squadList is empty %}empty{% endif %}"
                        id="ut-{{ tmp.unitType.slug }}{% if tmp.unitType.breed != army.breed %}-{{ tmp.unitType.breed.slug }}{% endif %}"
                        data-breed="{{ tmp.unitType.breed.slug }}"
                        data-unitType="{{ tmp.unitType.slug }}"
                    >
                        <h3 class="unitType mr1 pa1">
                            {{ unitTypeMacro.stick(tmp.unitType.color) }}
                            {{ tmp.unitType.name }}
                            {% if tmp.unitType.breed != army.breed %}
                                ({{ tmp.unitType.breed.name }})
                            {% endif %}
                            <div class="unitTypePts">
                               {% trans with { "%pts%":tmp.points } %}army.detail.pts.%pts%{% endtrans %}
                            </div>
                        </h3>
                        <div class="squadListContainer">
                            <section class="squadList">
                                {# Display squad list #}
                                {% for squad in tmp.squadList %}
                                    {% include "SitiowebArmyCreatorBundle:Army:detailSquad.html.twig" %}
                                {% endfor %}

                                {% if not(externalUser) %}
                                    <div>
                                        <a
                                            href="{{
                                                path('squad_new',
                                                {'armySlug' : army.slug, 'unitTypeSlug' : tmp.unitType.slug, 'breedSlug' : tmp.unitType.breed.slug})
                                            }}"
                                            class="acButton acButtonBig"
                                        >
                                            <i class="el-icon-plus"></i>
                                            {{ 'army.detail.squad.add'|trans }}
                                        </a>
                                    </div>
                                {% endif %}
                            </section>
                        </div>
                    </section>
                {% endif %}
            {% endfor %}

            {{ block("allyFortressButton") }}
        </div>
    </div>
{% endblock %}
