{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}Army edit{% endblock %}

{% block content %}
<form action="{{ path('army_update', { 'slug': entity.slug }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('army_detail', {'slug' : entity.slug }) }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('army_delete', { 'slug': entity.slug }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}

