{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {% if entity.id %}
        {{ "army.edit.title"|trans }}
    {% else %}
        {{ "army.new.title"|trans }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if entity.id %}
        {% set path = path('army_update', { 'slug': entity.slug }) %}
    {% else %}
        {% set path = path('army_create') %}
    {% endif %}
    {{ form_start(form, { action: path, attr: { class: 'opaque'} }) }}
        <div>
            {{ form_row(form.breed) }}

            {% if app.user.preferedBreedList %}
                <div>
                    <div class="row hide-mobile">
                        {% for tmpBreed in app.user.preferedBreedList[:10] %}
                            {% if tmpBreed.newVersion %}
                                {% set currentBreed = tmpBreed.newVersion %}
                            {% else %}
                                {% set currentBreed = tmpBreed %}
                            {% endif %}

                            <div>
                                <a href="#" data-breed-id="{{ currentBreed.id }}"{% if currentBreed == form.breed.vars.data %} class="soft"{% endif %}>
                                    <figure class="breed">
                                        {{ breedImage(currentBreed)|raw }}

                                        <figcaption>
                                            {{ currentBreed.name }}

                                            {% if tmpBreed.newVersion %}
                                                <hr />
                                                <span data-breed-id="{{ tmpBreed.id }}"{% if tmpBreed == form.breed.vars.data %} class="soft"{% endif %}>
                                                    {{ tmpBreed.name }}
                                                </span>
                                            {% endif %}
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {{ form_rest(form) }}
        </div>

        <div class="txtright">
            {% if entity.id %}
                <button type="submit" class="acButton acButtonBig">{{ "army.edit.edit"|trans }}</button>
            {% else %}
                <a href="{{ path('army_list') }}" class="acButton">
                    {{ "army.new.back_to_list"|trans }}
                </a>
                <button type="submit" class="acButton acButtonBig">{{ "army.new.create"|trans }}</button>
            {% endif %}
        </div>
    </form>

    {% if entity.id %}
        <div class="txtright">
            <a href="{{ path('army_detail', {'slug' : entity.slug }) }}" class="acButton">
                {{ "army.edit.back_to_army_list"|trans }}
            </a>
            {{ form_start(delete_form, {
                action: path('army_delete', { 'slug': entity.slug }),
                attr: {
                    class: 'inbl',
                    onsubmit: "javascript:return confirm('{% trans %}army.detail.delete{% endtrans %}');"
                }
            }) }}
                {{ form_widget(delete_form) }}
                <button type="submit" class="acButton">{{ "army.edit.delete"|trans }}</button>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if app.environment == 'dev' %}
        <!-- dev:army-new.js -->
          <script src="/tmp/js/army-new.js/army-new.js"></script>
        <!-- endbuild -->
    {% else %}
        <!-- prod:army-new.js --><!-- endbuild -->
    {% endif %}
{% endblock %}
