{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}My army list{% endblock %}

{% block content %}
    {{ knp_menu_render('SitiowebArmyCreatorBundle:Builder:armyListMenu') }}

    <div>
        <h2>
            {% if group %}
                {{ group.name }}
            {% else %}
                No group
            {% endif %}
        </h2>

        {% if group %}
            <a href="{{ path('army_group_edit', {'id' : group.id} ) }}">Update group name</a>
            <form action="{{ path('army_group_delete', { 'id': group.id }) }}" method="post">
                {{ form_widget(deleteGroupForm.createView) }}
                <button type="submit">Delete group</button>
            </form>
        {% endif %}
    </div>

    <a href="{{ path('army_new') }}">
        Create a new army
    </a>

    <table class="squadType">
        <thead>
            <tr>
                <th>
                <th>Breed
                <th>Points
                <th>Name
                <th>Status
                <th>Creation date
                <th>Actions
            </tr>
        </thead>

        <tbody>
            {% for army in armyList %}
                <tr>
                    <td>
                        {{ breedImage(army.breed, 40)|raw }}
                    </td>

                    <td>
                        {{ army.breed.name }}
                    </td>
                    <td>{{ army.points }}
                    <td>
                        <a href="{{ path('army_detail', {'slug' : army.slug} ) }}">
                            {{ army.name }}
                        </a>
                    </td>
                    <td>{{ army.status }}
                    <td>{{ army.createDate|date() }}
                    <td>
                        <form action="{{ path('army_delete', { 'id': army.id }) }}" method="post">
                            {% set deleteArmyForm = deleteArmyListForm[army.id] %}
                            {{ form_widget(deleteArmyForm.createView) }}
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
