{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {% trans %}army.list.title{% endtrans %}
{% endblock %}

{% block content %}
    {% set count = armyList|length %}

    <nav class="subMenu">
        {{ knp_menu_render('SitiowebArmyCreatorBundle:Builder:armyListMenu') }}
    </nav>

    <div>
        {% if group %}
            <a href="{{ path('army_group_edit', {'id' : group.id} ) }}" class="acButton right ml1">
                <i class="el-icon-pencil"></i>
                {{ "army.list.group.edit"|trans }}
            </a>
            <form action="{{ path('army_group_delete', { 'id': group.id }) }}" method="post" class="right">
                {{ form_widget(deleteGroupForm.createView) }}
                <button type="submit" class="acButton normalWrap">
                    <i class="el-icon-remove"></i>
                    {{ "army.list.group.delete"|trans }}
                </button>
            </form>
        {% endif %}

        <h2>
            {% if group %}
                {{ group.name }}
            {% elseif groupId is sameas("0") %}
                {{ "army.list.no_group"|trans }}
            {% else %}
                {{ "army_list.group_list.all_armies"|trans }}
            {% endif %}
            <span class="soft small">
                {% transchoice count %}{0} army_list.group.army_number.zero|{1} army_list.group.army_number.one|]1,Inf] army_list.group.army_number.%count%{% endtranschoice %}
            </span>
        </h2>
    </div>

    {{ block("createButton") }}

    <table class="squadType mt1">
        <thead>
            <tr>
                <th>
                <th>{{ "army.list.breed"|trans }}
                <th>{{ "army.list.points"|trans }}
                <th>{{ "army.list.name"|trans }}
                <th>{{ "army.list.status"|trans }}
                <th>{{ "army.list.created_date"|trans }}
                <th>{{ "army.list.updated_date"|trans }}
                <th>{{ "army.list.actions"|trans }}
            </tr>
        </thead>

        <tbody>
            {% for army in armyList %}
                <tr>
                    <td>
                        {{ breedImage(army.breed, 40)|raw }}
                    </td>

                    <td>
                        {{ army.breed.name }}
                    </td>
                    <td>{{ army.points }}
                    <td>
                        <a href="{{ path('army_detail', {'slug' : army.slug} ) }}">
                            {{ army.name }}
                        </a>
                    </td>
                    <td>{{ army.status }}
                    <td>
                        {% if army.createDate %}
                            {{ army.createDate|format_datetime }}
                        {% endif %}
                    </td>
                    <td>
                        {% if army.updateDate %}
                            {{ army.updateDate|format_datetime }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('army_edit', {'slug' : army.slug}) }}" class="acButton">
                            <i class="el-icon-pencil"></i>
                            {{ "army.list.edit"|trans }}
                        </a>

                        <form action="{{ path('army_delete', { 'slug': army.slug }) }}" method="post" class="inbl">
                            {% set deleteArmyForm = deleteArmyListForm[army.id] %}
                            {{ form_widget(deleteArmyForm.createView) }}
                            <button class="acButton" type="submit" onclick="return confirm('{{ "army.list.delete_confirm"|trans }}');">
                                <i class="el-icon-remove"></i>
                                {{ "army.list.delete"|trans }}
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if count > 10 %}
        {{ block("createButton") }}
    {% endif %}

{% endblock %}

{% block createButton %}
    <a href="{{ path('army_new') }}" class="acButton acButtonBig mt2" title="{{ "army.list.new"|trans }}">
        <i class="el-icon-plus"></i>
        {{ "army.list.new"|trans }}
    </a>
{% endblock %}
