{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {% trans %}army.list.title{% endtrans %}
{% endblock %}

{% block content %}
    <nav class="armyListMenu">
        {{ knp_menu_render('SitiowebArmyCreatorBundle:Builder:armyListMenu') }}
    </nav>

    <div>
        <h2>
            {% if group %}
                {{ group.name }}
            {% else %}
                {{ 'army.list.no_group'|trans }}
            {% endif %}
        </h2>

        {% if group %}
            <a href="{{ path('army_group_edit', {'id' : group.id} ) }}" class="acButton">
                <i class="icon-pencil"></i>
                {{ 'army.list.group.edit'|trans }}
            </a>
            <form action="{{ path('army_group_delete', { 'id': group.id }) }}" method="post">
                {{ form_widget(deleteGroupForm.createView) }}
                <button type="submit" class="acButton">
                    <i class="icon-remove"></i>
                    {{ 'army.list.group.delete'|trans }}
                </button>
            </form>
        {% endif %}
    </div>

    <a href="{{ path('army_new') }}" class="acButton">
        <i class="icon-plus"></i>
        {{ 'army.list.new'|trans }}
    </a>

    <table class="squadType">
        <thead>
            <tr>
                <th>
                <th>{{ 'army.list.breed'|trans }}
                <th>{{ 'army.list.points'|trans }}
                <th>{{ 'army.list.name'|trans }}
                <th>{{ 'army.list.status'|trans }}
                <th>{{ 'army.list.created_date'|trans }}
                <th>{{ 'army.list.updated_date'|trans }}
                <th>{{ 'army.list.actions'|trans }}
            </tr>
        </thead>

        <tbody>
            {% for army in armyList %}
                <tr>
                    <td>
                        {{ breedImage(army.breed, 40)|raw }}
                    </td>

                    <td>
                        {{ army.breed.name }}
                    </td>
                    <td>{{ army.points }}
                    <td>
                        <a href="{{ path('army_detail', {'slug' : army.slug} ) }}">
                            {{ army.name }}
                        </a>
                    </td>
                    <td>{{ army.status }}
                    <td>
                        {% if army.createDate %}
                            {{ army.createDate|date() }}
                        {% endif %}
                    </td>
                    <td>
                        {% if army.updateDate %}
                            {{ army.updateDate|date() }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('army_edit', {'slug' : army.slug}) }}" class="acButton">
                            <i class="icon-pencil"></i>
                            {{ 'army.list.edit'|trans }}
                        </a>

                        <form action="{{ path('army_delete', { 'slug': army.slug }) }}" method="post" class="inbl">
                            {% set deleteArmyForm = deleteArmyListForm[army.id] %}
                            {{ form_widget(deleteArmyForm.createView) }}
                            <button class="acButton" type="submit" onclick="return confirm('Delete this army ?');">
                                <i class="icon-remove"></i>
                                {{ 'army.list.delete'|trans }}
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
