{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block h1 %}
    {% trans %}army.new.title{% endtrans %}
{% endblock %}

{% block content %}
<form action="{{ path('army_create') }}" method="post" {{ form_enctype(form) }} class="opaque">
    {{ form_widget(form) }}
    <p class="txtright">
        <a href="{{ path('army_list') }}" class="acButton">
            {{ "army.new.back_to_list"|trans }}
        </a>
        <button type="submit" class="acButton acButtonBig">{{ "army.new.create"|trans }}</button>
    </p>
</form>
{% endblock %}

