{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block h1 %}
    {% trans %}army.new.title{% endtrans %}
{% endblock %}

{% block content %}
<form action="{{ path('army_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">{{ "army.new.create"|trans }}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('army_list') }}">
            {{ "army.new.back_to_list"|trans }}
        </a>
    </li>
</ul>
{% endblock %}

