{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block h1 %}
    {% trans %}army.new.title{% endtrans %}
{% endblock %}

{% block content %}
<form action="{{ path('army_create') }}" method="post" {{ form_enctype(form) }} class="opaque">
    <div>
        {{ form_row(form.breed) }}

        {% if app.user.preferedBreedList %}
            <div>
                <ul class="inline inlineBig">
                    {% for tmpBreed in app.user.preferedBreedList[:10] %}
                        {% if tmpBreed.newVersion %}
                            {% set currentBreed = tmpBreed.newVersion %}
                        {% else %}
                            {% set currentBreed = tmpBreed %}
                        {% endif %}

                        <li>
                            <a href="#" data-breed-id="{{ currentBreed.id }}"{% if loop.first %} class="soft"{% endif %}>
                                <figure class="breed">
                                    {{ breedImage(currentBreed)|raw }}

                                    <figcaption>
                                        {{ currentBreed.name }}

                                        {% if tmpBreed.newVersion %}
                                            <hr />
                                            <span href="#" data-breed-id="{{ tmpBreed.id }}">
                                                {{ tmpBreed.name }}
                                            </span>
                                        {% endif %}
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {{ form_rest(form) }}
    </div>
    <p class="txtright">
        <a href="{{ path('army_list') }}" class="acButton">
            {{ "army.new.back_to_list"|trans }}
        </a>
        <button type="submit" class="acButton acButtonBig">{{ "army.new.create"|trans }}</button>
    </p>
</form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
            '@SitiowebArmyCreatorBundle/Resources/public/js/army-new.js'
            output='js/army-new.js'
        %}
             <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
