{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title -%}
    {{- "army.public_list.title"|trans -}}
{%- endblock %}

{% block content %}
    <table class="squadType mt1">
        <thead>
            <tr>
                <th>{{ "army.list.user"|trans }}
                <th>{{ "army.list.breed"|trans }}
                <th>{{ "army.list.points"|trans }}
                <th>{{ "army.list.name"|trans }}
                <th>{{ "army.list.squad_number"|trans }}
                <th class="hide-mobile">{{ "army.list.status"|trans }}
                <th class="hide-mobile">{{ "army.list.created_date"|trans }}
                <th class="hide-mobile">{{ "army.list.updated_date"|trans }}
            </tr>
        </thead>

        <tbody>
            {% for army in armyList %}
                <tr>
                    <td>
                        <a href="/forum/memberlist.php?mode=viewprofile&u={{ army.user.forumId }}">
                            {{ army.user }}
                        </a>
                    </td>
                    <td class="txtleft">
                        {{ breedImage(army.breed, 40)|raw }}
                        {{ army.breed.name }}
                    </td>
                    <td>{{ army.points }}
                    <td>
                        <a href="{{ path('army_detail', {'slug' : army.slug} ) }}" data-fuzzysearch="{{ army.breed.name }} {{ army.name }}">
                            {{ army.name }}
                        </a>
                    </td>
                    <td>{{ army.squadList.count() }}
                    <td class="hide-mobile">{{ army.status|trans({}, 'forms') }}
                    <td class="hide-mobile">
                        {% if army.createDate %}
                            {{ army.createDate|format_date }}
                        {% endif %}
                    </td>
                    <td class="hide-mobile">
                        {% if army.updateDate %}
                            {{ army.updateDate|format_date }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(armyList) }}
{% endblock %}
