{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block content %}
    {% for game in gameList %}
        <h2>
            {{ game.name }}
        </h2>

        {% for breedGroup in game.breedGroupList %}
            <div class="grid1-11">
                <h3 class="grid-header">
                    {{ breedGroup.name }}
                </h3>

                <div>
                    <ul class="inline inlineBig collection">
                        {% for breed in breedGroup.availableBreedList %}
                            {% set contained = armycreator_user.collectionList.contains(breed) %}

                            <li class="w20{{ contained ? "" : " not-contained" }}">
                                <figure class="breed left mr1">
                                    {{ breedImage(breed)|raw }}
                                </figure>

                                {% if contained %}
                                    <a href="{{ path("user_collection_edit", { "breed": breed.slug }) }}">
                                        {{ breed.name }}
                                    </a>
                                    <a
                                        href="{{ path("user_collection_remove", { "breed": breed.slug }) }}"
                                        class="acButton"
                                        title="{{ "user.collection.remove"|trans }}"
                                    >
                                        <i class="el-icon-remove"></i>
                                    </a>
                                {% else %}
                                    {{ breed.name }}
                                    <a href="{{ path("user_collection_contains", { "breed": breed.slug }) }}">
                                        {{ "user.collection.contains"|trans }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% if app.environment == 'dev' %}
        <!-- dev:collection.css -->
          <link rel="stylesheet" type="text/css" href="/tmp/css/collection.css/collection.css">
        <!-- endbuild -->
    {% else %}
        <!-- prod:collection.css --><!-- endbuild -->
    {% endif %}
{% endblock %}
