{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block content %}
    {% for game in gameList %}
        <h2>
            {{ game.name }}
        </h2>

        <ul class="inline inlineBig collection">
            {% for breed in game.availableBreedList %}
                {% set contained = app.user.collectionList.contains(breed) %}
 
                <li class="w20{{ contained ? "" : " not-contained" }}">
                    <figure class="breed left mr1">
                        {{ breedImage(breed)|raw }}
                    </figure>

                    {% if contained %}
                        <a href="{{ path("user_collection_edit", { "breed": breed.slug }) }}">
                            {{ breed.name }}
                        </a>
                        <a
                            href="{{ path("user_collection_remove", { "breed": breed.slug }) }}"
                            class="acButton"
                            title="{{ "user.collection.remove"|trans }}"
                        >
                            <i class="icon-remove"></i>
                        </a>
                    {% else %}
                        {{ breed.name }}
                        <a href="{{ path("user_collection_contains", { "breed": breed.slug }) }}">
                            {{ "user.collection.contains"|trans }}
                        </a>
                        {#
                        <a href="{{ path("admin_breed_edit", { "breed": breed.slug }) }}" class="acButton">
                            {{ "button.edit"|trans }}
                        </a>
#}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

	{% stylesheets 
		"@SitiowebArmyCreatorBundle/Resources/public/less/collection.less"
		filter="less,cssrewrite" output="css/collection.css" %}
		 <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}
