{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title -%}
    {{ user }}
{%- endblock %}

{% block h1Container %}
    <header>
        {% if user.avatar %}
            <figure class="left mr2">
                <img src="/forum/download/file.php?avatar={{ user.avatar }}" />
            </figure>
        {% endif %}

        <div class="left">
            <h1>
                {{- user -}}
                {% if user.id == armycreator_user.id -%}
                    <a href="{{ path("profile_edit") }}" class="ml1 acButton acButtonSmall" title="{{ "edit"|trans }}">
                        <i class="el-icon-pencil"></i>
                    </a>
                {%- endif -%}
            </h1>

            <div>
                {% if user.wantToPlay %}
                    <div>
                        <i class="vmiddle el-icon-ok mr1"></i> {{ "user.informations.want_to_play"|trans }}
                        <a href="{{ path("forum_ucp", {'i': 'pm', 'mode': 'compose', 'u': user.forumId}) }}" class="acButton ml1">
                            <i class="el-icon-envelope txtcenter mr1"></i>
                            {{- "user.pm"|trans -}}
                        </a>
                    </div>
                    <div>
                        {{ "user.informations.can_move"|trans }}
                        <i class="vmiddle {{ user.informations.canMove ? "el-icon-ok" : "el-icon-remove" }} mr1"></i>
                    </div>

                    <div>{{ "user.informations.address"|trans }}: {{ user.informations.address }}</div>
                    <div>{{ "user.informations.nb_host"|trans }}: {{ user.informations.nbHost }}</div>
                    <div>{{ "user.informations.availability"|trans }}: {{ user.informations.availability }}</div>
                {% else %}
                    <i class="vmiddle el-icon-remove mr1"></i> {{ "user.informations.not_want_to_play"|trans }}
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    {% if publicArmyList %}
        <h2>
            {{- "user.public_list.title"|trans({ "%username%": user }) -}}
        </h2>

        <table class="squadType mt1">
            <thead>
                <tr>
                    <th>{{ "army.list.breed"|trans }}
                    <th>{{ "army.list.points"|trans }}
                    <th>{{ "army.list.name"|trans }}
                    <th>{{ "army.list.squad_number"|trans }}
                    <th class="hide-mobile">{{ "army.list.status"|trans }}
                    <th class="hide-mobile">{{ "army.list.created_date"|trans }}
                    <th class="hide-mobile">{{ "army.list.updated_date"|trans }}
                </tr>
            </thead>

            <tbody>
                {% for army in publicArmyList %}
                    <tr>
                        <td class="txtleft">
                            {{ breedImage(army.breed, 40)|raw }}
                            {{ army.breed.name }}
                        </td>
                        <td>{{ army.points }}
                        <td>
                            <a href="{{ path('army_detail', {'slug' : army.slug} ) }}" data-fuzzysearch="{{ army.breed.name }} {{ army.name }}">
                                {{ army.name }}
                            </a>
                        </td>
                        <td>{{ army.squadList.count() }}
                        <td class="hide-mobile">{{ army.status|trans({}, 'forms') }}
                        <td class="hide-mobile">
                            {% if army.createDate %}
                                {{ army.createDate|format_date }}
                            {% endif %}
                        </td>
                        <td class="hide-mobile">
                            {% if army.updateDate %}
                                {{ army.updateDate|format_date }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>
            {{- "user.public_list.empty"|trans({ "%username%": user }) -}}
        </h2>
    {% endif %}
{% endblock %}
