{% block ac_w40k_unitfeature_row %}
    {% for child in form.children %}
        {{ form_row(child) }}
    {% endfor %}
{% endblock %}

{% block ac_stuff_widget %}
    {% if required and empty_value is none and not empty_value_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}

    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} data-ac-type="stuff">
        {% set options = choices -%}
        {{- block('ac_stuff_choice_widget_options') -}}
    </select>

    <input class="txtright" rel="fuzzy" placeholder="{{ "filter"|trans }}" data-fuzzyfilter autofocus="autofocus" />
    <a class="txtright acButton" data-create-quick-weapon>{{ "create.quick.weapon"|trans }}</a>
    <a class="txtright acButton" data-create-quick-equipement>{{ "create.quick.equipement"|trans }}</a>
{% endblock %}

{% block ac_stuff_choice_widget_options -%}
    {% for group_label, choice in options %}
        <option data-default-points="{{ choice.data.defaultPoints }}" data-default-auto="{{ choice.data.defaultAuto ? "1" : "0" }}" value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %} data-fuzzysearch="{{ choice.label|trans({}, translation_domain) }}">{{ choice.label|trans({}, translation_domain) }}</option>
    {% endfor %}
{%- endblock ac_stuff_choice_widget_options %}


{% block ac_farm_weapon_row %}
    {{ form_errors(form.0) }}
    {{ form_widget(form.0) }}

    {{ form_errors(form.1) }}
    {{ form_widget(form.1) }}

    {{ form_errors(form.2) }}
    {{ form_widget(form.2) }}

    {{ form_errors(form.3) }}
    {{ form_widget(form.3) }}
{% endblock %}

{% block ac_user_info_row %}
    {% for child in form.children %}
        {{ form_row(child) }}
    {% endfor %}
{% endblock %}
