{% extends '::base.html.twig' %}

{% block body %}
{% for fb in app.session.flashBag %}
    {% for message in fb %}
        <div style="text-align:center; color:orange; border:1px solid orange">{{ message }}</div>
    {% endfor %}
{% endfor %}

<table>
    <thead>
        <tr>
            <th>Type
            <th>Entities
            <th>Import
            <th>Clear
        </tr>
    </thead>

    <tbody>
        {% for import in importList %}
            {% if import.name == "SitiowebArmyCreatorBundle:User" %}
                <tr><td colspan="4" style="text-align:center; color:red; border:1px solid red ">maintenant c'est sensible</td></tr>
            {% endif %}
            <tr>
                <td>{{ import.name }}
                <td>{{ import.count }}
                <td><a href="{{ path(import.route) }}">Import</a>
                <td><a href="{{ path('clear_entity_class', {'entityClass' : import.name} ) }}">Clear</a>
            </tr>
        {% endfor %}
    </tbody>
</table>


<ul>
    <li>
        Forum
        <ul>
            <li>Copier les fichiers du forum de beta
            <li>chmod 777 sur le dossier de cache
            <li>Copier la base de donnée du forum de prod
            <li>UPDATE `phpbb_config` SET config_value = 'armycreator.net' WHERE config_name = 'server_name'
            <li>UPDATE `phpbb_config` SET config_value = '1' WHERE config_name = 'default_style'
            <li>UPDATE `phpbb_config` SET config_value = 'armycreator.net' WHERE config_name = 'cookie_domain'
            <li>UPDATE `phpbb_config` SET config_value = 'forum_ac441h' WHERE config_name = 'cookie_name'
            <li>UPDATE `phpbb_users` SET user_style = '1'
            <li>Supprimer le dossier de cache
            <li>Si connexion impossible : supprimer les cookies du domaine
            <li>Bug taille: <blockquote>document.getElementById('content').style.height = 'auto';document.getElementById('tabs').style.height = 'auto';document.getElementById('page-body').style.height = 'auto';</blockquote>
            <li>BO  / Styles : tout désactiver / désinstaller sauf prosilver. Installer les templates/theme/styles armycreator.
            <li>BO  / Styles : Créer un nouveau style : "armycreator" de "prosilver". Style par défaut : "oui"
            <li>BO  / Styles / armycreator : "Informations" : template/theme : "armycreator"
        </ul>
    <li>Modifier les couleurs des "UnitType" (QG, Elite, etc.)
</ul>
{% endblock %}
