{% extends 'SitiowebArmyCreatorBundle:SquadLine:new.html.twig' %}
{% form_theme form "::form_theme.html.twig" %}

{% block title %}
    {% trans %}squad.edit.title{% endtrans %}
{% endblock %}

{% block squadAddNavTitle %}
    {% trans with { '%unitTypeName%' : entity.name } %}squad.edit.unit.type.%unitTypeName%{% endtrans %}
{% endblock %}

{% block squadAddNavSecondLine %}
{% endblock %}

{% block squadAddContent %}
    {{ form_start(form, { action: path('squad_update', {'armySlug' : army.slug, 'id' : entity.id})}) }}
        {{ form_errors(form) }}

        {{ block('squadLineList') }}

        {{ form_rest(form) }}
    </form>
{% endblock %}

{% block squadAddButtonList %}
    <input type="submit" class="acButton acButtonHuge" value="{{ "squad.edit.edit"|trans }}" />
{% endblock %}
