{% extends 'SitiowebArmyCreatorBundle:Squad:new.html.twig' %}

{% block title %}
    {% trans %}squad.edit.title{% endtrans %}
{% endblock %}

{% block squadAddNavTitle %}
    {% trans with { '%unitTypeName%' : currentUnitType.name } %}squad.edit.unit.type.%unitTypeName%{% endtrans %}
{% endblock %}

{% block squadAddContent %}
    <form action="{{ path('squad_update', {'armySlug' : army.slug, 'id' : entity.id}) }}" method="post" {{ form_enctype(form) }}>
        {% block squadLineList %}

            <div class="row gut unitName">
                {{ form_row(form.name) }}
                {{ form_row(form.unitType) }}
            </div>
            
            {% if form.squadLineList %}
                <section class="unitList">
                    {% for squadLine in form.squadLineList %}
                        <div class="unit">
                            <div class="unitName">
                                <h4>
                                    <aside class="number">
                                        {{ form_widget(squadLine.number) }}
                                    </aside>
                                    {{ squadLine.vars.value.unit.name }}
                                    <span>
                                        ({% trans with { "%pts%": squadLine.vars.value.unit.points } %}squad.edit.pts.%pts%{% endtrans %})
                                    </span>
                                </h4>
                            </div>

                            <div class="stuffList">
                                {% for squadLineStuff in squadLine.squadLineStuffList %}
                                    <div class="stuffListItem row">
                                        <div class="stuffName">
                                            {{ squadLineStuff.vars.value.unitStuff.stuff.name }}
                                            <span>
                                               ({% trans with { "%pts%": squadLineStuff.vars.value.unitStuff.points } %}squad.edit.pts.%pts%{% endtrans %})
                                           </span>
                                        </div>
                                        <aside class="number">
                                            {{ form_widget(
                                                squadLineStuff.number,
                                                { 'read_only' : squadLineStuff.asManyAsUnit.vars.data }
                                                
                                            ) }}
                                        </aside>
                                        <aside class="asManyAsUnit">
                                            {{ form_widget(squadLineStuff.asManyAsUnit) }}
                                        </aside>

                                        {{ form_rest(squadLineStuff) }}
                                    </div>
                                {% endfor %}
                            </div>
                            {{ form_rest(squadLine) }}
                        </div>
                    {% endfor %}
                </section>
            {% endif %}

            <p class="txtright">
                <a class="acButton acButtonBig" href="{{ path('army_detail', {'slug' : army.slug}) }}">
                    {{ "squad.edit.back_to_army"|trans }}
                </a>
                {% block squadAddButtonList %}
                    <input type="submit" class="acButton acButtonHuge" value="{{ "squad.edit.edit"|trans }}" />
                {% endblock %}
            </p>
        {% endblock %}

        {{ form_rest(form) }}
    </form>

{% endblock %}

