{% extends 'SitiowebArmyCreatorBundle:Army:detail.html.twig' %}

{% block title %}New {{ currentUnitType.name }} squad{% endblock %}

{% block armyDetail %}
    <div id="squadDetail">
        {% block squadAddNav %}
            <nav class="squadNav row gut txtcenter">
                <div>
                    {{ 'squad.edit.squad_choice'|trans }}
                </div>
                <div>
                    {{ 'squad.edit.squad_stuff'|trans }}
                </div>
            </nav>
        {% endblock %}

        <section class="squadAddContent">
            {% block squadAddContent %}
                <div class="row gut txtcenter">
                    {% for unitType in breed.unitTypeList %}
                        <div>
                            <a href="{{ path('squad_new', {'armySlug' : army.slug, 'unitTypeSlug' : unitType.slug}) }}" title="{{ unitType.name }}">
                                {{ unitType.name }}
                            </a>
                        </div>
                    {% endfor %}
                </div>


                <ul class="inline unitGroupList">
                    {% for unitGroup in currentUnitType.unitGroupList %}
                        <li>
                            <h5>
                                <a href="{{ path('squad_line_new', {'armySlug' : army.slug, 'unitGroupId' : unitGroup.id}) }}" title="{{ unitGroup.name }}">
                                    {{ unitGroup.name }}
                                 </a>
                             </h5>
                        </li>
                    {% endfor %}
                </ul>
            {% endblock %}
        </section>
    </div>
{% endblock %}
