{% extends 'SitiowebArmyCreatorBundle:Squad:layout.html.twig' %}

{% import "SitiowebArmyCreatorBundle:UnitType:macro.html.twig" as unitTypeMacro %}

{% block title %}
    {% trans with { '%unitTypeName%' : currentUnitType.name } %}squad.new.unit.type.%unitTypeName%{% endtrans %}
{% endblock %}

{% block squadAddNavTitle %}
    {{ unitTypeMacro.stick(currentUnitType.color, true) }}
    {% trans with { '%unitTypeName%' : currentUnitType.name, '%breedName%': breed.name } -%}
        squad.new.unit.type.%unitTypeName%.%breedName%
    {%- endtrans %}
{% endblock %}

{% block squadAddContent %}
    <ul class="inline unitGroupList">
        {% for unitGroup in currentUnitType.unitGroupList %}
            <li>
                <h5>
                    <a href="{{ path('squad_line_new', {'armySlug' : army.slug, 'unitGroupId' : unitGroup.id}) }}" title="{{ unitGroup.name }}">
                        {{ unitGroup.name }}
                     </a>
                 </h5>

                 <aside>
                     {{ 'squad.edit.min_points_%unitGroupPoints%'|trans({ '%unitGroupPoints%' : unitGroup.points }) }},
                     {% transchoice unitGroup.unitHasUnitGroupList|length with { '%count%' : unitGroup.unitHasUnitGroupList|length } %}[0,1]squad.edit.unit_number_unique|]1,Inf]squad.edit.possible_unit_number_%count%{% endtranschoice %}
                 </aside>
            </li>
        {% endfor %}
    </ul>

    <p class="txtright">
        <a class="acButton acButtonBig" href="{{ path('army_detail', {'slug' : army.slug}) }}">
            {{ "squad.new.back_to_list"|trans }}
        </a>
    </p>
{% endblock %}
