{% extends 'SitiowebArmyCreatorBundle:Squad:layout.html.twig' %}

{% block squadAddNavTitle %}
    {{ 'squad.edit.choose_breed'|trans }}
{% endblock %}

{% block squadAddContent %}

    {% for breedGroup in game.breedGroupList %}
        <div class="grid1-3">
            <h3 class="vline-header">
                {{ breedGroup.name }}
            </h3>

            <div>
                <ul class="inline inlineBig">
                    {% for tmpBreed in breedGroup.breedList %}
                        <li>
                            <a href="#" title="{{ tmpBreed.name }}">
                                <figure class="breed">
                                    {{ breedImage(tmpBreed)|raw }}

                                    <figcaption>
                                        {{ tmpBreed.name }}
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}



    {# Other breed list #}
    {#
    <div class="otherBreed">
        <ul>
            {% for tmpBreed in breedList %}
                <li>
                {_#{{ path('squad_new', {'armySlug' : army.slug, 'unitTypeSlug' : currentUnitType.slug, 'breedSlug' : tmpBreed.slug}) }}#_}
                    <a href="#" title="{{ tmpBreed.name }}">
                        <figure class="breed">
                            {{ breedImage(tmpBreed)|raw }}

                            <figcaption>
                                {{ tmpBreed.name }}
                            </figcaption>
                        </figure>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    #}
    <div class="clear"></div>
{% endblock %}
