{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block content %}
    {% set breed = app.request.get("breed") %}
    {% set game = breed.game %}
    {% set params = {"game": game.code, "breed": breed.slug} %}

    <h1>UnitHasUnitGroup edit</h1>

    {{ form_start(edit_form, {action: path("unithasunitgroup_update", params + { 'id': entity.id }), attr: {class: 'opaque'}}) }}
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p class="txtright">
            <button type="submit" class="acButton">Edit</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path("admin_breed_unit", params) }}">
            {{ "breed.back_to_breed"|trans }}
        </a>
    </li>
    <li>
        {{ form_start(delete_form, {action: path("unithasunitgroup_delete", params + { 'id': entity.id })}) }}
            {{ form_widget(delete_form) }}
            <button type="submit" class="acButton">{{ "button.delete"|trans }}</button>
        </form>
    </li>
</ul>
{% endblock %}
