{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block content %}
    {% set breed = app.request.get("breed") %}
    {% set game = breed.game %}
    {% set params = {"game": game.code, "breed": breed.slug} %}

    <h1>UnitHasUnitGroup creation</h1>

    {{ form_start(form, {action: path('unithasunitgroup_create', params), attr: {class: 'opaque'}}) }}
        {{ form_widget(form) }}
        <p>
            <button type="submit">{{ "button.create"|trans }}</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path("admin_breed_unit", params) }}">
            {{ "breed.back_to_breed"|trans }}
        </a>
    </li>
</ul>
{% endblock %}
