{% if standalone is defined %}
    </div>
{% endif %}

<footer id="websiteFooter">
{#
    <div id="bottomContent"></div>
    #}

    <div>
        <h4>{{ "footer.warning"|trans }}</h4>
        <p>
            {{ "footer.detail"|trans|nl2br }}
        </p>
    </div>

    <div id="madeBy">
        <div class="right">
            {{ "footer.design"|trans }}
            <a href="http://www.itsstillthere.com">
                itsstillthere.com
            </a>
        </div>

        <div class="mt2">
            {{ "footer.made_by"|trans }}
            Julien Deniau
            <a href="http://www.twitter.com/j_deniau">
                <i class="el-icon-twitter"></i>
            </a>
            <a href="http://www.github.com/jdeniau">
                <i class="el-icon-github"></i>
            </a>
        </div>
    </div>
</footer>

{% if moreJsList is defined %}
    {% for js in moreJsList %}
        <script type="text/javascript" src="/{{ js }}"></script>
    {% endfor %}
{% endif %}
