{% if moreCssList is defined %}
    {% for css in moreCssList %}
        <link href="/{{ css }}" rel="stylesheet" type="text/css" />
    {% endfor %}
{% endif %}

{% if moreJsList is defined %}
    {% for js in moreJsList %}
        <script type="text/javascript" src="/{{ js }}"></script>
    {% endfor %}
{% endif %}

<header id="websiteHeader">
    {% block websiteHeaderBar %}
        <div class="headerBar">
            <a href="{{ path('homepage') }}" title="Army Creator">
                <i class="el-icon-home"></i>
            </a>
            <span class="hide-mobile">
                |
                {{ "header.welcome"|trans }}
            </span>

            <span class="right">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% trans with { "%username%": app.user.username } %}header.hello.%username%{% endtrans %}
                    |
                    {% set sid = app.request.cookies.get(forum_sid)%}
                    <a href="{{ path("forum_ucp", { mode: 'logout', 'sid': sid }) }}" title="{{ "header.logout"|trans }}">
                        {{ "header.logout"|trans }}
                        <i class="el-icon-off"></i>
                    </a>
                {% else %}
                    <a href="{{ path("forum_ucp", { mode: 'login' }) }}" title="{{ "header.login"|trans }}">
                        {{ "header.login"|trans }}
                    </a>
                    |
                    <a href="{{ path("forum_ucp", { mode: 'register' }) }}" title="{{ "header.sign_up"|trans }}">
                        {{ "header.sign_up"|trans }}
                    </a>
                {% endif %}
            </span>
        </div>
    {% endblock %}

    {% block websiteHeader %}
        <div class="logo"></div>
    {% endblock %}

    {% block websiteNav %}
        <nav id="websiteNav" role="navigation" tabindex="0">
            <div class="left">
                {{ knp_menu_render('SitiowebArmyCreatorBundle:Builder:mainMenu') }}
            </div>

            <div class="right">
                {{ knp_menu_render('SitiowebArmyCreatorBundle:Builder:secondMainMenu') }}
            </div>
        </nav>
    {% endblock %}
</header>

{% if standalone is defined %}
    <div id="websiteContentContainer">
{% endif %}
    {% if ads is defined %}
        <div class="txtcenter ad hide-mobile">
            {% include "SitiowebArmyCreatorBundle:Ads:render.html.twig" with
                {
                    "slot": 7635175121,
                    "width": 728,
                    "height": 90,
                }
            %}
        </div>
        <div class="ad only-mobile">
            {% include "SitiowebArmyCreatorBundle:Ads:render.html.twig" with
                {
                    "slot": 6540708410,
                    "width": 320,
                    "height": 50,
                }
            %}
        </div>
    {% endif %}
