{% if includeGlobalCss is defined %}
    {% if app.environment == 'dev' %}
        <!-- dev:global.css -->
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/elusive-webfont.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/tooltipster.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/knacss.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/override.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/font.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/util.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/button.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/form.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/header.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/homepage.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/content-desktop.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/footer.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/breed.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/menu.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/news.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/armyDetail-desktop.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/squadEdit.css">
        <!-- endbuild -->
    {% else %}
        <!-- prod:global.css --><!-- endbuild -->
    {% endif %}
{% endif %}

{% if includeGlobalJs is defined %}
    {% if app.environment == 'dev' %}
        <!-- dev:global.js -->
          <script src="/tmp/js/global.js/jquery.min.js"></script>
          <script src="/tmp/js/global.js/jquery.tooltipster.js"></script>
          <script src="/tmp/js/global.js/router.js"></script>
          <script src="/tmp/js/global.js/fos_js_routes.js"></script>
          <script src="/tmp/js/global.js/tooltip.js"></script>
          <script src="/tmp/js/global.js/squadLine.js"></script>
          <script src="/tmp/js/global.js/bbcode.js"></script>
          <script src="/tmp/js/global.js/check-opacity.js"></script>
          <script src="/tmp/js/global.js/googleAnalytics.js"></script>
        <!-- endbuild -->
    {% else %}
        <!-- prod:global.js --><!-- endbuild -->
    {% endif %}
{% endif %}

{#
{% if is_android_os() %}
<a class="download-app" href="https://play.google.com/store/apps/details?id=com.juliendeniau.armycreator">
    Télécharger l'application sur Google Play (en beta)

    <img class="right" src="/images/play-store-icon.png" />
</a>
{% endif %}
#}

<header id="websiteHeader">
    {% block websiteHeaderBar %}
        <div class="headerBar">
            <a href="{{ path('homepage') }}" title="Army Creator">
                <i class="el-icon-home"></i>
            </a>
            <span class="hide-mobile">
                |
                {{ "header.welcome"|trans }}
            </span>

            <span class="right">
                {% if ac_is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% trans with { "%username%": app.user.username } %}header.hello.%username%{% endtrans %}

                    {% if is_granted('ROLE_CONTRIB') %}
                        |
                        <a href="{{ path("admin_game") }}" title="{{ "main_menu.admin"|trans }}" class="important">
                            {{- "main_menu.admin"|trans -}}
                        </a>
                    {% endif %}
                    |
                    {% set sid = forumSid|default(app.request ? app.request.cookies.get(forum_sid) : 'phpbb') %}
                    <a href="{{ path("forum_ucp", { mode: 'logout', 'sid': sid }) }}" title="{{ "header.logout"|trans }}">
                        {{ "header.logout"|trans }}
                        <i class="el-icon-off"></i>
                    </a>
                {% else %}
                    <a href="{{ path("forum_ucp", { mode: 'login' }) }}" title="{{ "header.login"|trans }}">
                        {{ "header.login"|trans }}
                    </a>
                    |
                    <a href="{{ path("forum_ucp", { mode: 'register' }) }}" title="{{ "header.sign_up"|trans }}">
                        {{ "header.sign_up"|trans }}
                    </a>
                {% endif %}
            </span>
        </div>
    {% endblock %}

    {% block websiteHeader %}
        <div class="logo"></div>
    {% endblock %}

    {% block websiteNav %}
        <nav id="websiteNav" role="navigation" tabindex="0">
            <div class="left">
                {{ knp_menu_render('SitiowebArmyCreatorBundle:Builder:mainMenu') }}
            </div>

            <div class="right">
                {{ knp_menu_render('SitiowebArmyCreatorBundle:Builder:secondMainMenu') }}
            </div>
        </nav>
    {% endblock %}
</header>

{% if standalone is defined %}
    <div id="websiteContentContainer">
{% endif %}
{#
    {% if ads is defined %}
        <div class="txtcenter ad hide-mobile">
            {% include "SitiowebArmyCreatorBundle:Ads:render.html.twig" with
                {
                    "slot": 7635175121,
                    "width": 728,
                    "height": 90,
                }
            %}
        </div>
        <div class="txtcenter ad only-mobile">
            {% include "SitiowebArmyCreatorBundle:Ads:render.html.twig" with
                {
                    "slot": 6540708410,
                    "width": 320,
                    "height": 50,
                }
            %}
        </div>
    {% endif %}
    #}
