<header id="websiteHeader">
    {% block websiteHeaderBar %}
        <div class="headerBar">
            <a href="{{ path('homepage') }}" title="Army Creator">
                <i class="el-icon-home"></i>
            </a>
            |
            {{ "header.welcome"|trans }}

            <span class="right">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% trans with { "%username%": app.user.username } %}header.hello.%username%{% endtrans %}
                    |
                    <a href="/forum/ucp.php?mode=logout" title="{{ "header.logout"|trans }}">
                        {{ "header.logout"|trans }}
                        <i class="el-icon-off"></i>
                    </a>
                {% else %}
                    <a href="/forum/ucp.php?mode=login" title="{{ "header.login"|trans }}">
                        {{ "header.login"|trans }}
                    </a>
                    |
                    <a href="/forum/ucp.php?mode=register" title="{{ "header.sign_up"|trans }}">
                        {{ "header.sign_up"|trans }}
                    </a>
                {% endif %}
                |
                <a href="#">
                    <i class="el-icon-question-sign"></i>
                </a>
            </span>
        </div>
    {% endblock %}

    {% block websiteHeader %}
        <div class="logo"></div>
    {% endblock %}

    {% block websiteNav %}
        <nav id="websiteNav">
            <div class="left">
                {{ knp_menu_render('SitiowebArmyCreatorBundle:Builder:mainMenu') }}
            </div>

            <div class="right">
                {{ knp_menu_render('SitiowebArmyCreatorBundle:Builder:secondMainMenu') }}
            </div>
        </nav>
    {% endblock %}
</header>

