{% extends '::base.html.twig' %}

{% block title "ArmyCreator" %}

{% block body %}
    {# <div id="websiteNavBackground"></div> #}
	<header id="websiteHeader">
		{% block websiteHeaderBar %}
			<div class="headerBar">
                <a href="{{ path('homepage') }}" title="Army Creator">
                    Picto accueil
                </a>
                |
                Bienvenue sur Army Creator

                <span class="right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        Hello {{ app.user.username }}
                    {% else %}
                        <a href="{{ path('forum_connection') }}">
                            Connectez-vous
                        </a>
                        ou 
                        <a href="{{ path('forum_create_account') }}">
                            Créer un compte
                        </a>
                    {% endif %}
                    | 
                    <a href="#">
                        Aide
                    </a>
                </span>
            </div>
		{% endblock %}

		{% block websiteHeader %}
			<div class="logo"></div>
		{% endblock %}

        {% block websiteNav %}
            <nav id="websiteNav">
                <div class="left">
                    {{ knp_menu_render('SitiowebArmyCreatorBundle:Builder:mainMenu') }}
                </div>

                <div class="right">
                    {{ knp_menu_render('SitiowebArmyCreatorBundle:Builder:secondMainMenu') }}
                </div>
            </nav>
        {% endblock %}
	</header>

	<div id="websiteContentContainer">
        <div id="websiteContent" class="{{ app.request.attributes.get('_route') }}">
            <section id="breadcrumb">
                {% block breadcrumb %}
                    {{ apy_breadcrumb_trail_render() }}
                {% endblock %}
            </section>

            {# <h1><span>{{ block('title') }}</span> {% block h1 %}{% endblock %}</h1> #}
            {% block h1Container %}
                <h1>{% block h1 %}{{ block('title') }}{% endblock %}</h1>
            {% endblock %}
            

            {% block flashes %}
                {% for key, message in app.session.getFlashes() %}
                    <div class="{{ key }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endblock %}

            {% block content %}
            {% endblock %}
        </div>
    </div>

	<footer id="websiteFooter">
		{% block websiteFooter %}
			Website Footer
		{% endblock %}
	</footer>
{% endblock %}

{% block javascripts %}
	{% javascripts '@SitiowebArmyCreatorBundle/Resources/public/js/*' %}
		 <script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
	{% stylesheets 
		'%kernel.root_dir%/../vendor/raphaelgoetter/knacss/css/knacss.css'
		'@SitiowebArmyCreatorBundle/Resources/public/css/*.css' 
		'../vendor/aristath/elusive-iconfont/less/elusive-webfont.less' 
		'@SitiowebArmyCreatorBundle/Resources/public/less/global.less' 
		filter='less,cssrewrite' output='css/global.css' %}
		 <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}
