{% extends '::base.html.twig' %}

{% block title "ArmyCreator" %}

{% block body %}
    {# <div id="websiteNavBackground"></div> #}
    {% include "SitiowebArmyCreatorBundle::header.html.twig" %}

	<div id="websiteContentContainer">
        <div id="websiteContent" class="{{ app.request.attributes.get('_route') }}">
            <section id="breadcrumb">
                {% block breadcrumb %}
                    {{ apy_breadcrumb_trail_render() }}
                {% endblock %}
            </section>

            {# <h1><span>{{ block('title') }}</span> {% block h1 %}{% endblock %}</h1> #}
            {% block h1Container %}
                <h1>{% block h1 %}{{ block('title') }}{% endblock %}</h1>
            {% endblock %}


            {% block flashes %}
                {% for key, messageList in app.session.flashbag.all %}
                    {% for message in messageList %}
                        <div class="{{ key }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}

            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% include "SitiowebArmyCreatorBundle::footer.html.twig" %}
{% endblock %}

{% block javascripts %}
{% javascripts
        '@SitiowebExternalJsBundle/Resources/public/jquery/jquery.min.js'
        output='js/external.js'
    %}
		 <script src="{{ asset_url }}"></script>
	{% endjavascripts %}


	{% javascripts
        '@SitiowebArmyCreatorBundle/Resources/public/js/squadLine.js'
        '@SitiowebArmyCreatorBundle/Resources/public/js/bbcode.js'
        '@SitiowebArmyCreatorBundle/Resources/public/js/googleAnalytics.js'
        output='js/global.js'
    %}
		 <script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
	{% stylesheets
		'@SitiowebArmyCreatorBundle/Resources/public/less/knacss.less'
        'bundles/sitiowebexternaljs/elusive-iconfont/less/elusive-webfont.less'
		filter='less,cssrewrite' output='css/external.css' %}
		 <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}

	{% stylesheets
		'@SitiowebArmyCreatorBundle/Resources/public/less/override.less'
		'@SitiowebArmyCreatorBundle/Resources/public/less/font.less'
		'@SitiowebArmyCreatorBundle/Resources/public/less/button.less'
		'@SitiowebArmyCreatorBundle/Resources/public/less/form.less'
		'@SitiowebArmyCreatorBundle/Resources/public/less/header.less'
		'@SitiowebArmyCreatorBundle/Resources/public/less/content.less'
		'@SitiowebArmyCreatorBundle/Resources/public/less/footer.less'
		'@SitiowebArmyCreatorBundle/Resources/public/less/breed.less'
		'@SitiowebArmyCreatorBundle/Resources/public/less/menu.less'
		'@SitiowebArmyCreatorBundle/Resources/public/less/armyDetail.less'
		'@SitiowebArmyCreatorBundle/Resources/public/less/squadEdit.less'

		filter='less,cssrewrite' output='css/global.css' %}
		 <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}

	{% stylesheets
		'@SitiowebArmyCreatorBundle/Resources/public/less/print.less'
		filter='less,cssrewrite' output='css/print.css' %}
		 <link rel="stylesheet" href="{{ asset_url }}" media="print" />
     {% endstylesheets %}

{% endblock %}
