{% extends '::base.html.twig' %}

{% block title "ArmyCreator" %}

{% block body %}
    {# <div id="websiteNavBackground"></div> #}
    {% include "SitiowebArmyCreatorBundle::header.html.twig" %}

	<div id="websiteContentContainer">
        <div id="websiteContent" class="{{ app.request.attributes.get('_route') }}">
            {% block ad300Content %}{% endblock %}
            <section id="breadcrumb">
                {% block breadcrumb %}
                    {{ apy_breadcrumb_trail_render() }}
                {% endblock %}
            </section>

            {# <h1><span>{{ block('title') }}</span> {% block h1 %}{% endblock %}</h1> #}
            {% block h1Container %}
                <h1>{% block h1 %}{{ block('title') }}{% endblock %}</h1>
            {% endblock %}


            {% block flashes %}
                {% for key, messageList in app.session.flashbag.all %}
                    {% for message in messageList %}
                        <div class="alert alert-{{ key }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}

            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% include "SitiowebArmyCreatorBundle::footer.html.twig" %}
{% endblock %}

{% block javascripts %}
    {% if app.environment == 'dev' %}
        <!-- dev:global.js -->
          <script src="/tmp/js/global.js/jquery.min.js"></script>
          <script src="/tmp/js/global.js/jquery.tooltipster.js"></script>
          <script src="/tmp/js/global.js/router.js"></script>
          <script src="/tmp/js/global.js/fos_js_routes.js"></script>
          <script src="/tmp/js/global.js/tooltip.js"></script>
          <script src="/tmp/js/global.js/squadLine.js"></script>
          <script src="/tmp/js/global.js/bbcode.js"></script>
          <script src="/tmp/js/global.js/check-opacity.js"></script>
          <script src="/tmp/js/global.js/googleAnalytics.js"></script>
        <!-- endbuild -->
    {% else %}
        <!-- prod:global.js --><!-- endbuild -->
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {% if app.environment == 'dev' %}
        <!-- dev:global.css -->
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/elusive-webfont.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/tooltipster.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/knacss.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/override.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/font.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/util.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/button.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/form.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/header.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/homepage.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/content-desktop.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/footer.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/breed.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/menu.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/news.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/armyDetail-desktop.css">
          <link rel="stylesheet" type="text/css" href="/tmp/css/global.css/squadEdit.css">
        <!-- endbuild -->
    {% else %}
        <!-- prod:global.css --><!-- endbuild -->
    {% endif %}

    {% if app.environment == 'dev' %}
        <!-- dev:print.css -->
          <link rel="stylesheet" href="/tmp/css/print.css/print.css" media="print" />
          <link rel="stylesheet" href="/tmp/css/print.css/content-print.css" media="print" />
          <link rel="stylesheet" href="/tmp/css/print.css/armyDetail-print.css" media="print" />
        <!-- endbuild -->
    {% else %}
        <!-- prod:print.css --><!-- endbuild -->
    {% endif %}
{% endblock %}
