{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {{ "equipement.edit.title"|trans({ "%equipement%": entity.name }) }}
{% endblock %}

{% block content %}
    {% set breed = app.request.get("breed") %}
    {% set game = breed.game %}
    {% set params = {"game": game.code, "breed": breed.slug} %}

    {{ form_start(edit_form, { action: path("equipement_update", params + { "id": entity.id }), attr: {class: 'opaque'} } }}

    {% if entity.unitStuffList.count() == 0 %}
        <div class="right">
            <form action="{{ path("equipement_delete", params + { "id": entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button class="acButton" type="submit">{{ "button.delete"|trans }}</button>
            </form>
        </div>
    {% endif %}
    <div>
        <a href="{{ path("admin_breed_stuff", params) }}">
            {{ "breed.back_to_breed"|trans }}
        </a>
    </div>
</ul>
{% endblock %}
