{% extends '::base.html.twig' %}

{% block title "ArmyCreator Import" %}

{% block body %}
	<div id="websiteContent">
		{# <h1><span>{{ block('title') }}</span> {% block h1 %}{% endblock %}</h1> #}
        {% block h1Container %}
            <h1>{% block h1 %}{{ block('title') }}{% endblock %}</h1>
        {% endblock %}


        {% block flashes %}
            {% for key, message in app.session.getFlashes() %}
                <div class="{{ key }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endblock %}

		{% block content %}
		{% endblock %}
	</div>
{% endblock %}

{% block javascripts %}
	{% javascripts '@SitiowebArmyCreatorBundle/Resources/public/js/*' %}
		 <script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
	{% stylesheets
        '@SitiowebExternalJsBundle/Resources/public/css/*.css'
		filter='cssrewrite' output='css/knacss.css' %}
		 <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}

	{% stylesheets
		'@SitiowebArmyCreatorBundle/Resources/public/css/*.css'
        'bundles/sitiowebexternaljs/elusive-iconfont/less/elusive-webfont.less'
		'@SitiowebArmyCreatorBundle/Resources/public/less/global.less'
		filter='less,cssrewrite' output='css/global.css' %}
		 <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

