{% extends 'SitiowebArmyCreatorBundle:Default:index.html.twig' %}

{% block title %}
    {% trans with { "%username%": armycreator_user.username } %}home.hello.%username%{% endtrans %}
{% endblock %}

{% block buttons %}
    <ul class="inline inlineBig">
        <li>
            <a href="{{ path("army_list") }}" title="{{ 'homepage_menu.my_army_list'|trans }}">
                <figure>
                    <i class="el-icon-list"></i>
                    <figcaption>
                        {{ 'homepage_menu.my_army_list'|trans }}
                    </figcaption>
                </figure>
            </a>
        </li>
        {% if lastArmy %}
            <li>
                <a href="{{ path("army_detail", { "slug": lastArmy.slug}) }}" title="{{ 'homepage_menu.last_army'|trans }}">
                    <figure>
                        <i class="el-icon-tasks"></i>
                        <figcaption>
                            {{ 'homepage_menu.last_army'|trans }}
                        </figcaption>
                    </figure>
                </a>
            </li>
        {% endif  %}
        <li>
            <a href="{{ path("army_new") }}" title="{{ 'homepage_menu.create_army'|trans }}">
                <figure>
                    <i class="el-icon-plus"></i>
                    <figcaption>
                        {{ 'homepage_menu.create_army'|trans }}
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="{{ path("user_collection") }}" title="{{ 'homepage_menu.my_collection'|trans }}">
                <figure>
                    <i class="el-icon-hdd"></i>
                    <figcaption>
                        {{ 'homepage_menu.my_collection'|trans }}
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="{{ path("forum_index") }}" title="{{ 'homepage_menu.forum'|trans }}">
                <figure>
                    <i class="el-icon-group"></i>
                    <figcaption>
                        {{ 'homepage_menu.forum'|trans }}
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="{{ path("donation") }}" title="{{ 'homepage_menu.donation'|trans }}" target="_blank">
                <figure>
                    <i class="el-icon-eur"></i>
                    <figcaption>
                        {{ 'homepage_menu.donation'|trans }}
                    </figcaption>
                </figure>
            </a>
        </li>
    </ul>
{% endblock %}

{% block presentation %}
    <div class="grid3">
        <div>
            <img src="/images/homepage/export.png" />
            <div>
                {{ "home.things_to_do.export"|trans|raw }}
            </div>
        </div>

        <div>
            <img src="/images/homepage/army-group-small.png" />
            <div>
                {{ "home.things_to_do.list_groups"|trans|raw }}
            </div>
        </div>

        <div>
            <a href="{{ path("donation") }}" title="{{ 'homepage_menu.donation'|trans }}" target="_blank">
                <figure>
                    <i class="el-icon-eur"></i>
                </figure>
            </a>

            <div>
                {{ "home.things_to_do.free"|trans|raw }}
            </div>
        </div>
    </div>
{% endblock %}
