{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {% trans with { "%username%": app.user.username } %}home.hello.%username%{% endtrans %}
{% endblock %}

{% block content %}
    <p>
        {% trans %}
            home.welcome_text
        {% endtrans %}
        <ul>
            <li>{{ "home.things_to_do.1"|trans }}
            <li>{{ "home.things_to_do.2"|trans }}
            <li>{{ "home.things_to_do.3"|trans }}
        </ul>
    </p>

    {{ knp_menu_render('SitiowebArmyCreatorBundle:Builder:homepageMenu') }}

    {{ app.user }}
{% endblock %}

