{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {{ "weapon.edit.title"|trans({ "%weapon%": entity.name }) }}
{% endblock %}

{% block content %}
    {% set params = { "game": game.code } %}
    {{ form(form, { "attr": { "class": "opaque" } }) }}


    {% if entity.unitStuffList.count() == 0  and delete_form is defined %}
        <div class="right">
            {{ form_start(delete_form, { action: path("game_stuff_delete", params + { "id": entity.id }) }) }}
                {{ form_widget(delete_form) }}
                <button class="acButton" type="submit">{{ "button.delete"|trans }}</button>
            </form>
        </div>
    {% endif %}

    <div>
        <a href="{{ path("admin_game_stuff", params) }}">
            {{ "breed.back_to_game"|trans }}
        </a>
    </div>
{% endblock %}

