{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {{ "army_group.edit.title"|trans }}
{% endblock %}

{% block content %}
{{ form_start(edit_form, {action: path('army_group_update', { 'id': entity.id }), attr: {class: 'opaque'}}) }}
    {{ form_widget(edit_form) }}
    <div class="txtright">
        <button type="submit" class="acButton acButtonBig">{{ "army_group.edit.edit"|trans }}</button>
    </div>
</form>

<div class="txtright">
    <a href="{{ path('army_group_list', {'groupId' : entity.id }) }}" class="acButton">
        {{ "army_group.edit.back_to_list"|trans }}
    </a>
    <form
        action="{{ path('army_group_delete', { 'id': entity.id }) }}"
        method="post"
        class="inbl"
        onsubmit="javascript:return confirm('{% trans %}army_group.edit.delete{% endtrans %}');"
    >
        {{ form_widget(delete_form) }}
        <button type="submit" class="acButton">{{ "army_group.edit.delete"|trans }}</button>
    </form>
</ul>
{% endblock %}
