{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}{{ "army_group.new.title"|trans }}{% endblock %}

{% block content %}
<form action="{{ path('army_group_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">{{ "army_group.new.create"|trans }}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('army_list') }}">
            {{ "army_group.new.back_to_list"|trans }}
        </a>
    </li>
</ul>
{% endblock %}
