{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}{{ "army_group.new.title"|trans }}{% endblock %}

{% block content %}
<form action="{{ path('army_group_create') }}" method="post" {{ form_enctype(form) }} class="opaque">
    {{ form_widget(form) }}
    <div class="txtright">
        <button type="submit" class="acButton acButtonBig">{{ "army_group.new.create"|trans }}</button>
    </div>
</form>

<div class="txtright">
    <a href="{{ path('army_list') }}" class="acButton">
        {{ "army_group.new.back_to_list"|trans }}
    </a>
</div>
{% endblock %}
