{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {{ "unit_type.edit.title"|trans({"%unitType%": entity.name }) }}
{% endblock %}

{% block content %}
    {{ form_start(edit_form, { action: path("unittype_update", { "id": entity.id, "breed": breed.slug, "game": breed.game.code }), attr: {class: 'opaque'} }) }}
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <div class="txtright">
            <button class="acButton acButtonBig" type="submit">{{ "button.edit"|trans }}</button>
        </div>
    </form>


    <div class="txtright">
        <div>
            <a href="{{ path("admin_breed_unit", {"breed": breed.slug, "game": breed.game.code }) }}">
                {{ "breed.back_to_breed"|trans }}
            </a>
        </div>
        <div>
            <form
                action="{{ path("unittype_delete", { "id": entity.id, "breed": breed.slug, "game": breed.game.code }) }}"
                method="post"
                onsubmit="javascript:return confirm('{% trans %}unit_type.edit.delete{% endtrans %}');"
            >
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <div class="txtright">
                    <button class="acButton" type="submit">{{ "button.delete"|trans }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/jscolor/jscolor.js"></script>
{% endblock %}
