{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {{ "unit_type.new.title"|trans }}
{% endblock %}

{% block content %}
    <form
        action="{{ path("unittype_create", {"game": breed.game.code, "breed": breed.slug}) }}"
        method="post" {{ form_enctype(form) }}
        class="opaque"
    >
        {{ form_widget(form) }}
        <p class="txtright">
            <button class="acButton acButtonBig" type="submit">{{ "button.create"|trans }}</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path("admin_breed_show", {"game": breed.game.code, "breed": breed.slug}) }}">
            {{ "breed.back_to_breed"|trans }}
        </a>
    </li>
</ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
     <script src="/bundles/sitiowebexternaljs/jscolor/jscolor.js"></script>
{% endblock %}
