{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block h1 %}{{ "breed.edit.title"|trans }}{% endblock %}

{% block content %}
<form action="{{ path('admin_breed_update', { "game": entity.game.code, "breed": entity.slug }) }}" method="post" {{ form_enctype(edit_form) }} class="opaque">
    {{ form_widget(edit_form) }}
    <div class="txtright">
        <button type="submit" class="acButton acButtonBig">{{ "button.edit"|trans }}</button>
    </div>
</form>

<div class="txtright">
    <a href="{{ path('admin_breed_show', {  "breed": entity.slug, "game": entity.game.code }) }}" class="acButton">
        {{ "breed.back_to_breed"|trans }}
    </a>

    {% if ac_granted("DELETE", entity) %}
        <form
            action="{{ path('admin_breed_delete', { 'game': entity.game.code, 'breed': entity.slug }) }}"
            method="post"
            class="inbl"
            onsubmit="javascript:return confirm('{% trans %}breed.detail.delete{% endtrans %}');"
        >
            {{ form_widget(delete_form) }}
            <button type="submit" class="acButton">{{ "button.delete"|trans }}</button>
        </form>
    {% endif %}
</div>
{% endblock %}
