{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block h1 %}Breed list{% endblock %}

{% block content %}
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Available</th>
            <th>{% trans %}breed.list.new{% endtrans %}</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_breed_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.available }}</td>
            <td>{{ entity.newVersion }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_breed_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_breed_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_breed_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
