{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block h1 %}{{ "breed.list.title"|trans }}{% endblock %}

{% block content %}
<table class="squadType">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Available</th>
            <th>{{ "breed.list.new"|trans }}</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>
                <a href="{{ path('admin_breed_show', { "game": entity.game.code, "breed": entity.slug }) }}">
                    {{ entity.name }}
                </a>
            </td>
            <td>{{ entity.available ? "Yes" : "No" }}</td>
            <td>{{ entity.newVersion }}</td>
            <td>
                {% if ac_granted('EDIT', entity) %}
                    <a href="{{ path("admin_breed_edit", { "breed": entity.slug }) }}" class="acButton">
                        {{ "button.edit"|trans }}
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if canEditAll %}
    <div class="txtright">
        <a href="{{ path('admin_breed_new', { "game": game.code}) }}" class="acButton acButtonBig">
            {{ "button.new_entry"|trans }}
        </a>
    </div>
{% endif %}
{% endblock %}
