{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {{ breed.name }}
{% endblock %}

{% block content %}
{% set breed = app.request.get("breed") %}
{% set game = breed.game %}
{% set params = {"game": game.code, "breed": breed.slug} %}

<table class="record_properties">
    <tbody>
        <tr>
            <th>{{ "breed.attr.id"|trans }}</th>
            <td>{{ breed.id }}</td>
        </tr>
        <tr>
            <th>{{ "breed.attr.available"|trans }}</th>
            <td>{{ breed.available ? "yes"|trans : "no"|trans }}</td>
        </tr>
    </tbody>
</table>
{% if ac_granted("EDIT", breed) %}
    <a href="{{ path('admin_breed_edit', { "game": breed.game.code, "breed": breed.slug, "id": breed.id }) }}" class="acButton">
        {{ "breed.detail.edit"|trans }}
    </a>
{% endif %}


<nav class="subMenu">
    {{ knp_menu_render("SitiowebArmyCreatorBundle:Builder:breedShowMenu", {"breed": breed}) }}
</nav>

{% block breedContent %}
{% endblock %}

<div class="txtright">
    <a href="{{ path('admin_breed', { "game": breed.game.code  }) }}" class="acButton">
        {{ "breed.detail.back_to_game"|trans }}
    </a>
</div>
{% endblock %}

