{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% import "SitiowebArmyCreatorBundle:UnitType:macro.html.twig" as unitTypeMacro %}

{% block title %}
    {{ breed.name }}
{% endblock %}

{% block content %}
<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ breed.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ breed.name }}</td>
        </tr>
        <tr>
            <th>Available</th>
            <td>{{ breed.available }}</td>
        </tr>
    </tbody>
</table>


<nav class="subMenu">
    <ul>
        {% for unitType in breed.unitTypeList %}
            <li>
                <a href="#ut-{{ unitType.slug }}">
                    {{ unitType.name }}
                </a>
            </li>
        {% endfor %}
        <li>
            <a href="{{ path("unittype_new", { "game": breed.game.code, "breed": breed.slug }) }}">
                <i class="icon-plus"></i>
                {{ "breed.unit_type.add"|trans }}
            </a>
        </li>
    </ul>
</nav>

{% for unitType in breed.unitTypeList %}
    <section class="unitTypeList row" id="ut-{{ unitType.slug }}">
        <h3 class="unitType mr1 pa1">
            {{ unitTypeMacro.stick(unitType.color) }}
            {{ unitType.name }}
            <a href="{{ path("unittype_edit", {"game": breed.game.code, "breed": breed.slug, "id": unitType.id}) }}">
                <i class="icon-pencil"></i>
            </a>
        </h3>

        <div class="squadListContainer">
            <div class="squadList">
                {% for unitGroup in unitType.unitGroupList %}
                    <div class="squad">
                        <div class="squadName">
                            <h4>{{ unitGroup.name }}</h4>
                        </div>
                        <div>
                            {% for unitHasUnitGroup in unitGroup.unitHasUnitGroupList %}
                                <div class="squadLine">
                                    <h5>
                                        {% if unitHasUnitGroup.mainUnit %}
                                            <span class="icon-star soft"></span>
                                        {% endif %}
                                        {{ unitHasUnitGroup.unit.name }}
                                        <span class="soft">
                                            {{ unitHasUnitGroup.unitNumber }}
                                        </span>
                                    </h5>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endfor %}

<div class="txtright">
    <a href="{{ path('admin_breed', { "game": breed.game.code  }) }}" class="acButton">
        {{ "breed.detail.back_to_list"|trans }}
    </a>
    <a href="{{ path('admin_breed_edit', { "breed": breed.slug, "id": breed.id }) }}" class="acButton">
        {{ "breed.detail.edit"|trans }}
    </a>
</div>
{% endblock %}
