{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {{ breed.name }}
{% endblock %}

{% block content %}
<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ breed.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ breed.name }}</td>
        </tr>
        <tr>
            <th>Available</th>
            <td>{{ breed.available }}</td>
        </tr>
    </tbody>
</table>

<nav class="subMenu">
    <ul>
            <li {% if not(currentUnitType) %} class="current"{% endif %}>
                <a href="{{ path("admin_breed_show", { "game": breed.game.code, "breed": breed.slug }) }}">
                    {{ "breed.unit_type.all"|trans }}
                </a>
            </li>
        {% for unitType in breed.unitTypeList %}
            <li {% if currentUnitType == unitType.id %} class="current"{% endif %}>
                <a href="{{ path("admin_breed_show", { "game": breed.game.code, "breed": breed.slug, "unitType": unitType.id }) }}">
                    {{ unitType.name }}
                </a>
            </li>
        {% endfor %}
        <li>
            <a href="#">
                <i class="icon-plus"></i>
                {{ "breed.unit_type.add"|trans }}
            </a>
        </li>
    </ul>
</nav>

<table class="squadType mt1">
    <thead>
    </thead>

    <tbody>
        {% for unitGroup in unitGroupList %}
            <tr>
                <td>{{ unitGroup.id }}
                <td>{{ unitGroup.unitType.name }}
                <td>{{ unitGroup.name }}
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="txtright">
    <a href="{{ path('admin_breed', { "game": breed.game.code  }) }}" class="acButton">
        {{ "breed.detail.back_to_list"|trans }}
    </a>
    <a href="{{ path('admin_breed_edit', { "breed": breed.slug, "id": breed.id }) }}" class="acButton">
        {{ "breed.detail.edit"|trans }}
    </a>
</div>
{% endblock %}
