{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block h1 %}Breed{% endblock %}

{% block content %}
<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ breed.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ breed.name }}</td>
        </tr>
        <tr>
            <th>Available</th>
            <td>{{ breed.available }}</td>
        </tr>
    </tbody>
</table>

<nav class="subMenu">
    <ul>
        {% for unitType in breed.unitTypeList %}
            <li>
                <a href="#">{{ unitType.name }}</a>
            </li>
        {% endfor %}
        <li>
            <a href="#">
                <i class="icon-plus"></i>
                {{ "breed.unit_type.add" }}
            </a>
        </li>
    </ul>
</nav>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_breed') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_breed_edit', { 'id': breed.id }) }}">
            Edit
        </a>
    </li>
</ul>
{% endblock %}
