{% extends 'SitiowebArmyCreatorBundle:Breed:layout.html.twig' %}

{% block breedContent %}
{% set breed = app.request.get("breed") %}
{% set game = breed.game %}
{% set params = {"game": game.code, "breed": breed.slug} %}

<div class="row">
    <div class="stuffList">
        <h2>Weapon List</h2>

        {% block weapon_new %}
            <aside class="txtright">
                <a href="{{ path("weapon_new", params) }}" title="{{ "breed.weapon_list.new"|trans }}" class="acButton">
                    {{ "breed.weapon_list.new"|trans }}
                </a>
            </aside>
        {% endblock %}

        {% for weapon in weaponList %}
            <div>
                <h4>
                    {{ weapon.name }}
                    <a href="{{ path("weapon_edit", params + { "id": weapon.id}) }}">
                        <i class="icon-pencil"></i>
                    </a>
                </h4>
                <div>
                    {{ "breed.weapon_list.type"|trans }}: 
                    {{ weapon.type }}
                </div>
                <div>
                    {{ "breed.weapon_list.range"|trans }}: 
                    {{ weapon.range }}
                    |
                    {{ "breed.weapon_list.strenght"|trans }}: 
                    {{ weapon.strenght }}
                    |
                    {{ "breed.weapon_list.armorPenetration"|trans }}: 
                    {{ weapon.armorPenetration }}
                </div>
            </div>
        {% endfor %}

        {% if weaponList %}
            {{ block("weapon_new") }}
        {% endif %}
    </div>

    <div class="stuffList">
        <h2>Equipement List</h2>

        {% block equipement_new %}
            <aside class="txtright">
                <a href="{{ path("equipement_new", params) }}" title="{{ "breed.equipement_list.new"|trans }}" class="acButton">
                    {{ "breed.equipement_list.new"|trans }}
                </a>
            </aside>
        {% endblock %}

        {% for equipement in equipementList %}
            <div>
                <h4>
                    {{ equipement.name }}
                    <a href="{{ path("equipement_edit", params + { "id": equipement.id}) }}">
                        <i class="icon-pencil"></i>
                    </a>
                </h4>
                <div>
                    {{ equipement.description }}
                </div>
            </div>
        {% endfor %}

        {% if equipementList %}
            {{ block("equipement_new") }}
        {% endif %}
    </div>
</div>
{% endblock %}


