{% extends 'SitiowebArmyCreatorBundle:Breed:layout.html.twig' %}

{% import "SitiowebArmyCreatorBundle:UnitType:macro.html.twig" as unitTypeMacro %}

{% block breedContent %}
    {% set breed = app.request.get("breed") %}
    {% set game = breed.game %}
    {% set params = {"game": game.code, "breed": breed.slug} %}

    <div class="help">
        {{ "admin.help.unit_type"|trans }}
    </div>

    <ul class="inline inlineBig">
        {% for unitType in breed.unitTypeList %}
            <li class="unitType">
                {{ unitTypeMacro.stick(unitType.color) }}
                {{ unitType.name }}
                {% if ac_granted("EDIT", breed) %}
                <a href="{{ path("unittype_edit", params + { "id": unitType.id}) }}" class="acButton">
                    <i class="el-icon-pencil"></i>
                </a>
                {% endif %}
            </li>
        {% endfor %}

        {% if ac_granted("EDIT", breed) %}
            <li>
                <a href="{{ path("unittype_new", params) }}" title="{{ "breed.unittype.new"|trans }}" class="acButton">
                    {{ "breed.unittype.new"|trans }}
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
