{% extends 'SitiowebArmyCreatorBundle:Breed:layout.html.twig' %}

{% import "SitiowebArmyCreatorBundle:UnitType:macro.html.twig" as unitTypeMacro %}

{% block breedContent %}
{% set breed = app.request.get("breed") %}
{% set game = breed.game %}
{% set params = {"game": game.code, "breed": breed.slug} %}

<ul class="inline inlineBig">
    {% for unitType in breed.unitTypeList %}
        <li class="unitType">
            {{ unitTypeMacro.stick(unitType.color) }}
            {{ unitType.name }}
            <a href="{{ path("unittype_edit", params + { "id": unitType.id}) }}" class="acButton">
                <i class="el-icon-pencil"></i>
            </a>
        </li>
    {% endfor %}

    <li>
        <a href="{{ path("unittype_new", params) }}" title="{{ "breed.unittype.new"|trans }}" class="acButton">
            {{ "breed.unittype.new"|trans }}
        </a>
    </li>
</ul>
{% endblock %}


