{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {{ "weapon.edit.title"|trans({ "%weapon%": weapon.name }) }}
{% endblock %}

{% block content %}
    {% set breed = app.request.get("breed") %}
    {% set game = breed.game %}
    {% set params = {"game": game.code, "breed": breed.slug} %}

    <form action="{{ path("weapon_update", params + { "id": weapon.id }) }}" method="post" {{ form_enctype(edit_form) }} class="opaque">
        {{ form_widget(edit_form) }}
    </form>

    {% if weapon.unitStuffList.count() == 0 %}
        <div class="right">
            <form action="{{ path("weapon_delete", params + { "id": weapon.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button class="acButton" type="submit">{{ "button.delete"|trans }}</button>
            </form>
        </div>
    {% endif %}

    <div>
        <a href="{{ path("admin_breed_stuff", params) }}">
            {{ "breed.back_to_breed"|trans }}
        </a>
    </div>
{% endblock %}
