{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {{ "weapon.new.title"|trans }}
{% endblock %}

{% block content %}
    {% set breed = app.request.get("breed") %}
    {% set game = breed.game %}
    {% set params = {"game": game.code, "breed": breed.slug} %}

    <form action="{{ path("weapon_create", params) }}" method="post" {{ form_enctype(form) }} class="opaque">
        {{ form_widget(form) }}
    </form>

    <div>
        <a href="{{ path("admin_breed_stuff", params) }}">
            {{ "breed.back_to_breed"|trans }}
        </a>
    </div>
</ul>
{% endblock %}
