{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {{ "unit_stuff.new.title"|trans({"%unit%": form.unit.vars.data.name}) }}
{% endblock %}

{% block content %}
    {% set breed = app.request.get("breed") %}
    {% set game = breed.game %}
    {% set params = {"game": game.code, "breed": breed.slug} %}

    <form action="{{ path("unitstuff_create", params) }}" method="post" {{ form_enctype(form) }} class="opaque">
        <div>
            {{ form_row(form.unit) }}
            {{ form_row(form.stuff) }}
            {{ form_row(form.points) }}
            {{ form_row(form.auto) }}
            {{ form_row(form.visible) }}
        </div>

        <div class="txtright">
            {{ form_widget(form.create, {"attr": {"class": "acButton"}}) }}
            {{ form_widget(form.createAndAdd, {"attr": {"class": "acButton"}}) }}
        </div>

        {{ form_rest(form) }}
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path("admin_breed_unit", params) }}#unit-{{ entity.unit.slug }}">
            {{ "breed.back_to_breed"|trans }}
        </a>
    </li>
</ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.environment == 'dev' %}
        <!-- dev:unitstuff-edit.js -->
<script src="/tmp/js/unitstuff-edit.js/unitstuff-edit_0.js"></script>
<!-- endbuild -->
    {% else %}
        <!-- prod:unitstuff-edit.js --><!-- endbuild -->
    {% endif %}
{% endblock %}
