{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {{ "game.edit.title"|trans }}
{% endblock %}

{% block content %}
<form action="{{ path('admin_game_update', { 'code': entity.code }) }}" method="post" {{ form_enctype(edit_form) }} class="opaque">
    {{ form_widget(edit_form) }}

    <div class="txtright">
        <button type="submit" class="acButton acButtonBig">Edit</button>
    </div>
</form>

<div class="txtright">
    <a href="{{ path('admin_game') }}" class="acButton">
        Back to the list
    </a>
    <form
        action="{{ path('admin_game_delete', { 'code': entity.code }) }}"
        method="post"
        class="inbl"
        onsubmit="javascript:return confirm('{% trans %}game.detail.delete{% endtrans %}');"
    >
        {{ form_widget(delete_form) }}
        <button type="submit" class="acButton">Delete</button>
    </form>
</div>
{% endblock %}
