{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block h1 %}Game list{% endblock %}

{% block content %}
<table class="squadType">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_game_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.code }}</td>
            <td>{{ entity.name }}</td>
            <td>
                <a class="acButton" href="{{ path('admin_game_edit', { 'id': entity.id }) }}">edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="txtright">
    <a href="{{ path('admin_game_new') }}" class="acButton acButtonBig">
        Create a new entry
    </a>
</div>
{% endblock %}
