{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block h1 %}Game list{% endblock %}

{% block content %}
<table class="squadType">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Name</th>
            <th>Army Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>
                {{ entity.code }}
            </td>
            <td>
                <a href="{{ path("admin_breed", { "game": entity.code }) }}">
                    {{ entity.name }}
                </a>
            </td>
            <td>
                {{ entity.breedList.count() }}
            </td>
            <td>
                {% if ac_granted('EDIT', entity) %}
                    <a class="acButton" href="{{ path('admin_game_edit', { 'game': entity.code }) }}">
                        {{ "game.list.edit"|trans }}
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if canEditAll %}
    <div class="txtright">
        <a href="{{ path('admin_game_new') }}" class="acButton acButtonBig">
            {{ "game.list.new"|trans }}
        </a>
    </div>
{% endif %}
{% endblock %}
