{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block h1 %}Game list{% endblock %}

{% block content %}
<table class="squadType">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>
                <a href="{{ path('admin_game_show', { 'code': entity.code }) }}">
                    {{ entity.code }}
                </a>
            </td>
            <td>
                <a href="{{ path('admin_game_show', { 'code': entity.code }) }}">
                    {{ entity.name }}
                </a>
            </td>
            <td>
                <a class="acButton" href="{{ path('admin_game_edit', { 'code': entity.code }) }}">
                    {{ "game.list.edit"|trans }}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="txtright">
    <a href="{{ path('admin_game_new') }}" class="acButton acButtonBig">
        {{ "game.list.new"|trans }}
    </a>
</div>
{% endblock %}
