{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {{ "game.list.new"|trans }}
{% endblock %}

{% block content %}
<form action="{{ path('admin_game_create') }}" method="post" {{ form_enctype(form) }} class="opaque">
    {{ form_widget(form) }}
    <p class="txtright">
        <button class="acButton acButtonBig" type="submit">{{ "button.create"|trans }}</button>
    </p>
</form>

<div>
    <a href="{{ path('admin_game') }}">
        {{ "default.back_to_list"|trans }}
    </a>
</div>
{% endblock %}
