{% extends 'SitiowebArmyCreatorBundle:Squad:new.html.twig' %}

{% block squadAddContent %}
    <form action="{{ path('squad_create', {'armySlug' : army.slug, 'unitGroupId' : app.request.get('unitGroupId')}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_row(form.name) }}

        <ul class="inline unitList">
            {% for squadLine in form.squadLineList %}
                <li class="unit">
                    <div class="unitName">
                        <h4>{{ squadLine.vars.value.unit.name }}</h4>
                        {{ form_row(squadLine.number) }}
                    </div>

                    <div class="stuffList">
                        {{ form_rest(squadLine) }}
                    </div>
                </li>
            {% endfor %}
        </ul>

        {{ form_rest(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

{% endblock %}
