{% extends 'SitiowebArmyCreatorBundle:Squad:layout.html.twig' %}

{% block title %}
    {% trans %}squad_line.edit.title{% endtrans %}
{% endblock %}

{% block squadAddContent %}
    {{ form_start(form, {action: path('squad_create', {'armySlug' : army.slug, 'unitGroupId' : app.request.get('unitGroupId')})}) }}
        {{ form_errors(form) }}

        {{ block('squadLineList') }}

        {{ form_rest(form) }}
    </form>

{% endblock %}

{% block squadAddButtonList %}
    <a class="acButton acButtonBig" href="{{ path('army_detail', {'slug' : army.slug}) }}">
        {{ "squad.edit.back_to_army"|trans }}
    </a>
    <input type="submit" class="acButton acButtonHuge" value="{{ "squad_line.new.create"|trans }}" />
{% endblock %}

{% block squadLineList %}
    <div class="row gut unitName">
        {{ form_row(form.name) }}
        {{ form_row(form.unitType) }}
    </div>

    <p class="txtright mb1">
        {{ block("squadAddButtonList") }}
    </p>

    <div class="mb2">
        <a href="javascript:;" class="acButton stuffList-show-all" title="{{ "army.detail.show_all_stuff"|trans }}">
            <i class="el-icon-caret-down"></i>
            {{ "army.detail.show_all_stuff"|trans }}
        </a>
        <a href="javascript:;" class="acButton stuffList-hide-all" title="{{ "army.detail.hide_all_stuff"|trans }}">
            <i class="el-icon-caret-up"></i>
            {{ "army.detail.hide_all_stuff"|trans }}
        </a>
    </div>


    {{ block("squadTotal") }}

    {% if form.squadLineList %}
        <section class="unitList">
            {% for squadLine in form.squadLineList %}
                <div class="unit">
                    <div class="unitName">
                        <h4 class="line">
                            {% set unitPoints = squadLine.vars.value.unit.points %}
                            <aside class="soft right">
                                {% trans with { "%pts%": unitPoints } %}squad.edit.pts.%pts%{% endtrans %}
                            </aside>
                            <aside class="number right">
                                {{ form_widget(squadLine.number, {"attr" : {"data-points" : unitPoints, "readonly": not(canChooseNumber(squadLine.vars.value)) } } ) }}
                            </aside>
                            {{ squadLine.vars.value.unit.name }}
                        </h4>
                        {{ form_errors(squadLine.number) }}
                    </div>

                    {% if squadLine.orderSquadLineStuffList.count > 0 %}
                        <div class="txtcenter stuffList-toggle-container">
                            <a href="javascript:;" class="stuffList-toggle-link">
                                <i class="el-icon-caret-down"></i>
                                <i class="el-icon-caret-up hidden"></i>
                                {{ "army.detail.toggle_stuff"|trans }}
                            </a>
                        </div>

                        <div class="stuffList stuffList-toggle">
                            {% for squadLineStuff in squadLine.orderSquadLineStuffList %}
                                <div class="stuffListItem line">
                                    {% set stuffPoints = squadLineStuff.vars.value.unitStuff.points %}
                                    <aside class="soft right">
                                       {% trans with { "%pts%": stuffPoints } %}squad.edit.pts.%pts%{% endtrans %}
                                   </aside>

                                    <aside class="asManyAsUnit right">
                                        {{ form_widget(squadLineStuff.asManyAsUnit) }}
                                        <a href="javascript:;" class="inversed toggleAmau" title="{% trans from "forms" %}As many as unit{% endtrans %}">
                                            <i class="el-icon-paper-clip"></i>
                                        </a>
                                    </aside>

                                    <aside class="number right">
                                        {{ form_widget(
                                            squadLineStuff.number,
                                            { "read_only" : squadLineStuff.asManyAsUnit.vars.data , "attr" : {"data-points" : stuffPoints } }

                                        ) }}
                                        <a href="javascript:;" class="inversed toZero" title="{% trans from "forms" %}toZero{% endtrans %}">
                                            <i class="el-icon-remove"></i>
                                        </a>
                                    </aside>

                                    {% set tmpDesc = squadLineStuff.vars.value.unitStuff.stuff.description %}
                                    <div class="stuffName{% if tmpDesc %} tooltip{% endif %}" title="{{ tmpDesc }}">
                                        {{ squadLineStuff.vars.value.unitStuff.stuff.name }}
                                    </div>

                                    {{ form_errors(squadLineStuff.asManyAsUnit) }}
                                    {{ form_errors(squadLineStuff.number) }}
                                    {{ form_rest(squadLineStuff) }}
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {# avoid empty label #}
                        {{ form_widget(squadLine.orderSquadLineStuffList) }}
                    {% endif %}

                    {{ form_rest(squadLine) }}
                </div>
            {% endfor %}
        </section>
    {% endif %}

    {{ block("squadTotal") }}

    <p class="txtright">
        {{ block("squadAddButtonList") }}
    </p>
{% endblock %}

{% block squadTotal %}
    <section class="squadTotalContainer">
        {{ "squad.total_points"|trans }} : <span class="squadTotal" class="soft">0</span>
    </section>
{% endblock %}
