{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {{ "unit.edit.title"|trans({"%unit%": unit.name }) }}
{% endblock %}

{% block content %}
    {% set breed = app.request.get("breed") %}
    {% set game = breed.game %}
    {% set params = {"game": game.code, "breed": breed.slug} %}

    {{ form_start(edit_form, {action: path("unit_update", params + { "id": unit.id }), attr: {class: 'opaque'}}) }}
        <div id="unittype">
            {{ form_row(edit_form.unitType) }}
            {{ form_row(edit_form.name) }}
            {{ form_row(edit_form.points) }}
            {{ form_row(edit_form.doNotCreateUnitGroup) }}
            {#
            {{ form_row(edit_form.unitHasUnitGroupList[0].unitNumber) }}
            {{ form_row(edit_form.unitHasUnitGroupList[0].canChooseNumber) }}
            #}


            <div class="txtright">
                {{ form_widget(edit_form.edit, {"attr": {"class": "acButton acButtonBig"}}) }}
            </div>

            {{ form_rest(edit_form) }}
        </div>
    </form>

    <div class="right">
        <form action="{{ path("unit_delete", params + { "id": unit.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="acButton" type="submit">{{ "button.delete"|trans }}</button>
        </form>
    </div>
    <div>
        <a href="{{ path("admin_breed_unit", params) }}">
            {{ "breed.back_to_breed"|trans }}
        </a>
    </div>
{% endblock %}
