{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Unit list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Points</th>
                <th>Importedid</th>
                <th>Importedtype</th>
                <th>Canmodifynumber</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('unit_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.slug }}</td>
                <td>{{ entity.points }}</td>
                <td>{{ entity.importedId }}</td>
                <td>{{ entity.importedType }}</td>
                <td>{{ entity.canModifyNumber }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('unit_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('unit_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('unit_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
