{% extends 'SitiowebDiceBundle::layout.html.twig' %}

{% block title %}
    {{ "toolbox.dice.title"|trans }}
{% endblock %}

{% block diceContent %}
    {{ form_start(form, { attr: {class: 'toolbox mb2' }}) }}
        {{ form_widget(form) }}

        {{ form_rest(form) }}
        <input type="submit" class="acButton acButtonBig right mt1" value="{{ "toolbox.dice.submit"|trans }}" />
        <div class="clear"></div>
    </form>

    {% if resultList %}
        <table class="squadType">
            <tr>
                <th></th>
                {% for i in 1..6 %}
                    <th>{{ i }}
                {% endfor %}
            </tr>

            <tr>
                <td>{{ "toolbox.dice.results"|trans }}
                {% for key,value in resultList %}
                    <td class="{{ dices.wantedScore <= key ? "success" : "error" }}">{{ value }}
                {% endfor %}
            </tr>
        </table>
    {% endif %}

    {% if supList %}
        <table class="squadType">
            <tr>
                <th></th>
                {% for i in 1..6 %}
                    <th>{{ i }}
                {% endfor %}
            </tr>

            <tr>
                <td>{{ "toolbox.dice.superior"|trans }}
                {% for key,value in supList %}
                    <td class="{{ dices.wantedScore == key ? "success" : "" }}">{{ value }}
                {% endfor %}
            </tr>
        </table>
    {% endif %}
{% endblock %}
