{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {{ "toolbox.infight.title"|trans }}
{% endblock %}

{% block content %}
    <form action="{{ path('toolbox_infight_statistic') }}" method="post" {{ form_enctype(form) }} class="toolbox mb2">
        {{ form_widget(form) }}

        {{ form_rest(form) }}
        <input type="submit" class="acButton acButtonBig right mt1" value="{{ "toolbox.dice.submit"|trans }}" />
        <div class="clear"></div>
    </form>


    {{ infight.stats }}
{% endblock %}

