{% extends 'SitiowebDiceBundle::layout.html.twig' %}

{% block title %}
    {{ "toolbox.infight.title"|trans }}
{% endblock %}

{% block diceContent %}
    {{ form_start(form, { attr: {class: 'toolbox mb2' }}) }}
        {{ form_widget(form) }}

        {{ form_rest(form) }}

        <div>
            <div>
                <span class="right">
                    {{ infight.stats }}
                </span>
                <span class="left">
                    {{ "toolbox.dice.results"|trans }}
                </span>
            </div>
        </div>

        <input type="submit" class="acButton acButtonBig right mt1" value="{{ "toolbox.dice.submit"|trans }}" />
        <div class="clear"></div>
    </form>
{% endblock %}

