{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {{ "toolbox.weapon.title"|trans }}
{% endblock %}

{% block content %}
    <form action="{{ path('toolbox_weapon_statistic') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" class="acButton" value="{{ "toolbox.dice.submit"|trans }}" />
    </form>


    {{ shots.stats }}
{% endblock %}
