{% extends 'SitiowebArmyCreatorBundle::layout.html.twig' %}

{% block title %}
    {{ "unit_group.new.title"|trans }}
{% endblock %}

{% block content %}
    {% set breed = app.request.get("breed") %}
    {% set game = breed.game %}
    {% set params = {"game": game.code, "breed": breed.slug} %}

    <form action="{{ path("unitgroup_create",  params) }}" method="post" {{ form_enctype(form) }} class="opaque">

        {{ form_widget(form) }}
        <p class="txtright">
            <button class="acButton acButtonBig" type="submit">{{ "button.create"|trans }}</button>
        </p>
    </form>

    <div>
        <a href="{{ path("admin_breed_show", params) }}">
            {{ "breed.back_to_breed"|trans }}
        </a>
    </div>
{% endblock %}
